.single-answer-question {
  display: flex;
  flex-direction: column;

  .title-box {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    .number {
      color: #cecece;
      font-size: 14px;
      font-weight: bold;
      margin-right: 1rem;
    }

    .title {
      color: #4a018a;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .answers-box {
    display: flex;
    align-items: center;
    margin-top: .5rem;
    flex-wrap: wrap;

    label {
      display: flex;
      margin-right: 1.5rem;
      margin-bottom: .5rem;
      align-items: center;
      cursor: pointer;
      transition: .15s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        .answer {
          color: #4a018a;
        }
      }

      .answer {
        margin-left: .5rem;
        color: #555;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .single-answer-question {
    margin-bottom: 1.5rem !important;
  }
}

@media screen and (max-width: 480px) {
  .single-answer-question .answers-box label .answer {
    white-space: normal;
  }
}
