@use "src/static/css/common" as common;

.wrapper-homepage .calculate-percentage {
  background-image: url("./media/city-background.png");
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: cover;

  .container {
    width: 960px;
    margin: 0 auto;
    padding: 4rem 40px;

    h3 {
      color: white;
      text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
    }

    .group {
      display: flex;
      padding-top: 3rem;

      .questions {
        display: flex;
        flex-direction: column;
        margin-right: 4rem;

        .question {
          display: flex;
          align-items: center;
          color: white;
          font-size: 16px;
          line-height: 18px;
          height: 60px;
          text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
        }
      }

      .answers {
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
        min-width: 10rem;

        .answer {
          display: flex;
          align-items: center;
          height: 60px;

          .checkbox-label {
            display: flex;
            align-items: center;
            color: white;
            cursor: pointer;

            &:hover {
              color: #e3ceff;
            }

            &.right {
              margin-left: auto;
            }

            span {
              margin-left: .5rem;
              text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
            }

            .check-box {
              border-color: #8E00A6;
              background-color: rgba(0, 0, 0, .2);
              box-shadow: 0 0 6px rgba(0, 0, 0, .4);

              &.checked {
                background-color: #8E00A6 !important;
              }
            }
          }
        }
      }

      .result {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .info {
          display: contents;

          .mini-title {
            display: flex;
            align-items: center;
            font-size: 22px;
            height: 60px;
            font-weight: bold;
            color: white;
            text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
          }

          .percentage {
            min-width: 21rem;
            color: white;
            font-size: 70px;
            font-weight: bold;
            text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
          }
        }

        .round-btn {
          @include common.round-btn(#8E00A6);
          padding: 1rem 1.5rem;
          margin-top: auto;
          margin-bottom: .5rem;
          background-color: rgba(0, 0, 0, .2);
          box-shadow: 0 0 8px rgba(0, 0, 0, .4);

          span {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .calculate-percentage .container {
    width: 640px;

    .group {
      flex-wrap: wrap;
      padding-top: 0;

      .questions {
        width: 368px;
        margin-right: 2rem;
      }

      .answers {
        margin: 0;
      }

      .result {
        flex-direction: row;

        .info {
          display: flex;
          flex-direction: column;

          .percentage {
            margin-bottom: 1rem;
            font-size: 60px;
          }
        }

        .round-btn {
          margin: auto 0 1.5rem -4.6rem;
          padding: 11px 1.5rem;

          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .calculate-percentage .container {
    width: 480px;
    padding: 3rem 1rem;

    .group {

      .result {

        .info .percentage {
          font-size: 42px;
        }

        .round-btn {
          margin-left: -10rem;
          margin-bottom: 20px;
          padding: 6px 1.5rem;

          span {
            font-size: 14px;
          }
        }
      }

      .questions {
        width: 256px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .calculate-percentage {
    display: none;
  }
}
