.wrapper-commercial-proposal .reasons {
  display: flex;

  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 3rem 40px;

    h4 {
      font-size: 42px;
      color: #4a018a;
      text-align: center;
      margin-bottom: 5rem;
    }

    .group {
      display: flex;
      margin-bottom: 3rem;

      .left {
        width: 50%;
        display: flex;
        flex-direction: column;

        .row {
          display: flex;
          flex-direction: row;
          margin-bottom: 3rem;

          img {
            width: 65px;
            margin-right: 2rem;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .desc {
            display: flex;
            flex-direction: column;

            .heading {
              font-size: 28px;
              font-weight: bold;
              color: #cecece;
              margin-bottom: 1rem;
            }

            .text {
              font-size: 16px;
              color: #555;
              line-height: 1.5;
            }
          }
        }
      }

      .right {
        width: 50%;
        padding-left: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-commercial-proposal .reasons .container {
    width: 960px;

    .group {
      .left {
        width: 100%;
      }

      .right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-commercial-proposal .reasons .container {
    width: 640px;

    h4 {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-commercial-proposal .reasons .container {
    width: 480px;
    padding: 3rem 1rem;

    .group .left .row img {
      width: 45px;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-commercial-proposal .reasons .container {
    width: 100%;

    h4 {
      font-size: 32px;
    }

    .group .left .row .desc {
      .heading {
        font-size: 24px;
      }

      .text {
        font-size: 14px;
      }
    }
  }
}
