@use "src/static/css/common" as common;

.wrapper-homepage .top-section {
  background-color: #EAEBED;
  margin-top: -4rem;
  padding-top: 4rem;
  max-height: calc(500px + 8rem);
  position: relative;

  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 6rem 40px 8rem 40px;

    h2 {
      font-size: 38px;
      line-height: 1.1;
      color: #4a018a;
      margin: 0;

      span {
        display: block;
        color: #8E00A6;
      }
    }

    .group {
      display: flex;
      max-width: 100%;

      .left {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .payback {
          color: #555;
          font-size: 20px;
        }

        .button .round-btn {
          @include common.round-btn(#4a018a);
        }
      }

      .right {
        width: 55%;
        display: flex;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .group-mobile {
      display: none;
    }
  }
}


@media screen and (max-width: 1280px) {
  .wrapper-homepage .top-section .container {
    width: 960px;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .top-section {
    max-height: initial;

    .container {
      width: 640px;
      padding-top: 3rem;
      padding-bottom: 3rem;

      .group {
        display: none;
      }

      h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 30px;
      }

      .group-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 90%;
          margin: 0 auto;
        }

        .payback {
          color: #555;
          font-size: 24px;
          text-align: center;
          margin: 2rem;
        }

        .round-btn {
          @include common.round-btn(#4a018a)
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .top-section .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .top-section .container {
    width: 100%;

    .group-mobile .payback {
      font-size: 17px;
    }
  }
}
