.wrapper-webinar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .row-top {
    height: 50%;
    width: 100%;
    background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
    z-index: 1;
  }

  .row-bottom {
    height: 50%;
    width: 100%;
    background-color: white;
    z-index: 0;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;

    .group {
      display: flex;
      height: 100%;
      padding-top: 2rem;

      .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 50%;
        padding: 0 0 3rem;
        color: white;
        font-weight: bold;
        z-index: 1;

        .rect-btn {
          display: none;
        }

        a img {
          height: 3rem;
        }

        .title {
          font-size: 50px;
          line-height: 1.1;

          &.mobile {
            display: none;
          }
        }

        .desc {
          font-weight: normal;
          font-size: 24px;
          line-height: 1.5;
        }

        .date {
          font-size: 35px;
        }
      }

      .right {
        position: relative;
        width: 50%;
        z-index: 0;

        img {
          position: absolute;
          bottom: 0;
          right: 0;
          height: 100%;
          width: auto;
        }
      }
    }

    .row-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50%;

      .heading {
        font-size: 46px;
        line-height: 1.2;
        color: #4a018a;
        font-weight: bold;
      }

      .info-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 12rem;

        //&:last-child {
        //  display: none;
        //}

        .number {
          color: #8E00A6;
          font-size: 46px;
          font-weight: bold;
        }

        .name {
          font-size: 20px;
          color: #555;
        }
      }
    }

    .row-bonus {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50%;

      .bonus {
        font-size: 35px;
        font-weight: bold;
        color: #4a018a;

        span {
          color: #8E00A6;
        }
      }
    }

    .rect-btn {
      cursor: pointer;
      background-color: #8E00A6;
      color: white;
      font-weight: bold;
      font-size: 18px;
      padding: 2rem 3rem;
      border: none;
      margin-top: 2rem;
    }
  }

  .row-date {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-webinar .container {
    width: 960px;

    .group .left {

      a img {
        height: 2rem;
      }

      .title {
        font-size: 34px;
      }

      .desc {
        font-size: 17px;
      }

      .date {
        font-size: 26px;
      }
    }

    .row-info {
      .heading {
        font-size: 38px;
      }

      .info-block {
        width: 10rem;

        .name {
          font-size: 18px;
        }
      }
    }

    .row-bonus .bonus {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-webinar {
    .container {
      width: 100%;
      padding: 0 40px;


      .group .left {
        .title {
          font-size: 34px;
        }
      }

      .row-info {
        .heading {
          font-size: 34px;
        }

        .info-block {
          width: 10rem;

          .name {
            font-size: 18px;
          }
        }
      }

      .row-bonus {
        .bonus {
          font-size: 24px;
        }
      }

      .rect-btn {
        padding: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-webinar {
    .row-top, .row-bottom {
      height: auto;
    }

    .container {
      padding: 0 1rem;
      height: auto;

      .group {
        flex-direction: column;
        height: auto;

        .left {
          width: 100%;
          align-items: center;
          justify-content: initial;
          text-align: center;

          .title {
            display: none;

            &.mobile {
              display: block;
              margin: 2rem 0;
            }
          }

          .rect-btn {
            display: block;
          }

          .date {
            display: none;
          }
        }

        .right {
          width: 100%;
          overflow: hidden;

          img {
            position: relative;
            margin-bottom: -5px;
            height: auto;
            width: 100%;
          }
        }
      }

      .row-info {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 2rem;
        height: auto;

        .info-block {
          flex-direction: row;
          align-items: center;
          margin-top: 2rem;
          width: 100%;

          &:last-child {
            display: flex;
          }

          .number {
            min-width: 6rem;
          }
        }
      }

      .row-bonus {
        height: auto;
        padding-bottom: 2rem;

        .bonus {
          display: none;
        }
      }
    }

    .row-date {
      display: flex;
      height: 10rem;

      span {
        text-align: center;
        margin: auto;
        color: white;
        font-weight: bold;
        font-size: 34px;
      }
    }
  }
}