.wrapper-program-new .articles {
  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 3rem 40px 5rem;

    .frame {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 calc(3rem + 40px);
      position: relative;

      .slick-prev {
        height: 24px;
        width: 24px;
        left: -3rem;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          height: 100%;
          width: 100%;
          transform: rotate(90deg);
          background-image: url("./media/arrow.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      .slick-next {
        height: 24px;
        width: 24px;
        right: -3rem;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          height: 100%;
          width: 100%;
          transform: rotate(-90deg);
          background-image: url("./media/arrow.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      .slick-dots {
        bottom: -2rem;

        li button:before {
          color: #4a018a;
        }
      }

      .img-box {
        display: block;
        padding: 1.5rem;
        height: 214px;
        box-sizing: content-box;

        .img {
          display: flex;
          border-radius: 10px;
          overflow: hidden;
          height: 100%;
          background-color: white;
          box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
          transition: .2s;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
          }

          img {
            max-width: 75%;
            margin: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-program-new .articles .container {
    width: 960px;

    .frame {
      padding: 0 3rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program-new .articles .container {
    width: 640px;

    .frame .img-box {
      height: 184px;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program-new .articles .container {
    width: 480px;
    padding: 3rem 1rem;

    .frame .img-box {
      height: 200px;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program-new .articles .container {
    width: 100%;

    .frame {
      padding: 0 1.5rem;

      .slick-prev {
        left: -2rem
      }

      .slick-next {
        right: -2rem
      }

      .img-box {
        height: 41vw;
      }
    }
  }
}
