@use "src/static/css/common" as common;

.wrapper {
  display: flex;
  min-height: 86vh;
  padding: 3rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
  padding: 3rem 4rem;
  border-radius: 16px;
  box-shadow: 0 0 1rem #222;

  h3 {
    color: white;
    margin-bottom: 2rem;
  }

  input {
    margin: .75rem 0;
    width: 24rem;
    border-radius: 5rem;
    border: 0;
    padding: 1rem;
    color: #555;
    font-size: 18px;
    transition: .2s;
    box-shadow: inset 0 0 12px #999;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::placeholder {
      color: rgba(74, 1, 138, 0.5);
    }

    &::-moz-placeholder {
      color: #4a018a;
    }
  }
}

.button {
  @include common.round-btn-module(#fff);
  padding: 1rem 3rem;
  margin-top: 2rem;

  &:hover span {
    color: #4a018a;
  }

  :global(.app-loading) {
    min-height: 20px;

    :global(.anim-box) {
      height: 20px;
      padding: 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .button span {
    color: #4a018a;
  }
}

@media screen and (max-width: 640px) {
  .card {
    padding: 3rem 2rem;

    input {
      width: 280px;
    }
  }
}