@use "src/static/css/common" as common;

.wrapper-homepage .how-it-works {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 3rem 40px;

    .row {
      display: flex;

      .block {
        position: relative;
        width: calc(25% - 0.66666rem);
        margin-right: 1rem;
        padding-top: calc(25% - 0.66666rem);
        background-color: #4a018a;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(74, 1, 138, .5);
        transition: .2s;

        &:hover {
          transform: scale(1.05);
        }

        &:last-child {
          margin: 0;
        }

        .icon {
          position: absolute;
          width: 32px;
          height: 32px;
          top: 20px;
          left: 20px
        }

        .info-container {
          position: absolute;
          display: flex;
          padding: 0 20px;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;

          .info {
            margin: auto 0;
            color: white;
          }
        }

        .bottom {
          position: absolute;
          display: flex;
          align-items: center;
          padding: 0 20px;
          width: 100%;
          height: 20px;
          left: 0;
          bottom: 20px;

          .number {
            bottom: 20px;
            left: 20px;
            font-weight: bold;
            font-size: 20px;
            color: white;
          }

          .arrow {
            margin-left: auto;
            height: 40px;
            transform: rotate(180deg);
          }
        }
      }

      .buttons {
        margin: 3rem auto 0;
        display: flex;
        width: 70%;

        .round-btn {
          @include common.round-btn(#8E00A6);
          width: 50%;
          padding: 1rem 1.5rem;

          span {
            margin: auto;
          }

          &:first-child {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .how-it-works .container {
    width: 640px;

    .row {
      flex-wrap: wrap;

      .block {
        width: calc(50% - 1rem);
        margin: 0;
        padding-top: calc(50% - 2rem);

        &:nth-child(even) {
          margin-left: 2rem;
        }

        &:nth-child(-n+2) {
          margin-bottom: 2rem;
        }

        .info-container {
          font-size: 19px;
          width: 90%;
        }
      }

      .buttons {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .how-it-works .container {
    width: 480px;
    padding: 3rem 1rem;

    .row {

      .block {

        .icon {
          width: 26px;
          height: 26px;
        }

        .info-container {
          font-size: 15px;
        }
      }

      .buttons .round-btn {
        width: auto;
        padding: 1rem 1.3rem;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .how-it-works .container {
    width: 100%;

    .row {
      flex-wrap: nowrap;
      flex-direction: column;

      .block {
        width: 100%;
        padding-top: calc(60% - 2rem);
        margin: 0 0 1rem 0 !important;

        &:last-child {
          margin-bottom: 0 !important;
        }

        .info-container {
          font-size: 18px;
        }

        .bottom .arrow {
          transform: rotate(-90deg);
        }
      }

      .buttons {
        flex-direction: column;

        .round-btn {
          margin: 0 !important;

          &:first-child {
            margin-bottom: 1rem !important;
          }
        }
      }
    }
  }
}
