@use "src/static/css/common" as common;

.wrapper-partners .info-block {
  display: flex;
  background-image: linear-gradient(135deg, #4a018a 30%, #35008a);
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, .2);

  .container {
    width: 1280px;
    padding: 5rem 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .desc {
      color: white;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;
      width: 80%;
      margin: 0 auto 2rem;
      text-shadow: 0 0 .5rem black;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


@media screen and (max-width: 1280px) {
  .wrapper-partners .info-block .container {
    width: 960px;

    .desc {
      width: 100%;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-partners .info-block .container {
    width: 640px;

    .desc {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-partners .info-block .container {
    width: 480px;
    padding: 3rem 1rem;

    .desc {
      padding: 0 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-partners .info-block .container {
    width: 100%;
  }
}
