.speciality-selection-list {
  width: 100%;
  position: relative;

  button {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    border: 2px solid #8E00A6;
    border-radius: 10px;
    padding-left: 1rem;
    text-align: left;
    color: white;
    height: 2.5rem;
    font-size: 16px;
    cursor: pointer;
    width: 100%;

    .arrow {
      position: absolute;
      display: flex;
      align-items: center;
      height: 100%;
      right: 1rem;
      top: 0;
      width: 1rem;

      img {
        width: 1rem;
        height: 1rem;
        transition: .2s;
      }
    }
  }

  .list {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: calc(2.5rem);
    left: 0;
    width: 100%;
    border: 2px solid #8E00A6;
    background-color: rgba(38, 0, 47, 0.65);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 0;
    opacity: 0;
    transition: .2s;

    .check-box {
      border-color: #8E00A6;
      background-color: rgba(0, 0, 0, .1);

      &.checked {
        background-color: #8E00A6 !important;
      }
    }

    label {
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding-left: .5rem;
      cursor: pointer;
      transition: .15s;

      span {
        color: white;
        font-size: 16px;
        margin-left: .5rem;
        transition: .15s;
      }

      &:hover {
        background-color: rgba(0, 0, 0, .1);

        span {
          color: #e3ceff;
        }
      }
    }
  }

  &.active {
    button {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
      background-color: rgba(38, 0, 47, 0.65);
      transition: .2s;
    }

    .list {
      visibility: visible;
      opacity: 1;
    }

    .arrow img {
      transform: rotate(180deg);
    }
  }
}