.wrapper-policy {
  min-height: 86vh;

  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 3rem 40px;
    color: #555;

    ol {
      counter-reset: item;
    }

    li {
      display: block;
      margin-top: 1rem;
    }

    li:before {
      content: counters(item, ".") ". ";
      counter-increment: item
    }

    ul li:before {
      content: '• ';
    }

    .empty:before {
      content: none;
    }

    p {
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-policy .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-policy .container {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper-policy .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-policy .container {
    width: 100%;
  }
}
