.listBox {
  position: relative;
  width: 100%;
  background: white;
  margin: 0.75rem 0;
  border-radius: 1.5rem;

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #cecece;

    .items {
      visibility: visible;
      opacity: 1;
      border-color: #cecece;
    }
  }

  .listInput {
    width: 100%;
    display: flex;

    input {
      background: transparent !important;
      margin: auto 0 !important;
      border: none !important;
      transition: 0s;

      &:focus {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .items {
    visibility: hidden;
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    z-index: 10;
    background: white;
    border-top: none;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    .elem {
      position: relative;
      padding-left: 1.5rem;
      height: 3rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: .2s;

      span {
        margin-left: 1rem;
      }

      &:last-child {
        border-bottom-left-radius: 1.5rem;
      }

      &:hover {
        background: #eeeeee;

        span {
          color: #4a018a;
        }
      }

      span {
        color: #555;
        max-width: 80%;
      }
    }
  }
}