@use "src/static/css/common" as common;

.popup {
  @keyframes popup-appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  animation: popup-appear .2s forwards;
  z-index: 10003;

  .form {
    position: relative;
    margin: auto;
    width: 640px;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 3rem;

    .close-menu {
      content: "×";
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #999;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      width: 20px;
      text-align: center;
      line-height: 20px;
      transition: .2s;

      &:hover {
        color: #4a018a;
      }
    }

    h3 {
      font-size: 22px;
      line-height: 1.15;
      color: #4a018a;
      margin: 0;
    }

    .fields {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      input {
        margin: .75rem 0;
        border-radius: 5rem;
        border: 2px #eaeaea solid;
        padding: 1rem;
        color: #555;
        font-size: 18px;
        transition: .2s;

        &:focus {
          transition: 0s;
          border-color: #cecece;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::placeholder {
          color: rgba(74, 1, 138, 0.5);
        }

        &::-moz-placeholder {
          color: #4a018a;
        }
      }
    }

    .agreement {
      margin-left: 0;
    }


    .round-btn {
      @include common.round-btn(#4a018a);
      padding: 1rem 1.5rem;
      margin-right: 1rem;

      .app-loading {
        min-height: 0;

        .anim-box {
          height: 20px;
          margin: 0;

          .circle {
            height: 100%;
            width: 20px;
          }
        }
      }
    }

    a {
      text-decoration: none;
      display: inline-block;
      white-space: nowrap;
      font-size: 12px;
      margin: 1rem 0;
      color: #999;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .popup .form {
    width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .popup .form {
    width: 95%;
    padding: 2rem 2rem 2rem;

    h3 {
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 428px) {
  .popup .form a {
    margin-bottom: 0;
  }
}