@use "src/static/css/common" as common;

.wrapper-homepage .bottom-section {
  background: url("./media/earth.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  height: 28rem;
  display: flex;

  .purpler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 1, 138, .8);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
    width: 960px;
    margin: auto;
    padding: 3rem 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .desc {
      font-size: 22px;
      line-height: 1.2;
      color: white;
      text-shadow: 0 0 .5rem black;
      text-align: center;
      margin-bottom: 3rem;
    }

    .round-btn {
      @include common.round-btn(#8e00a6);
      background-color: rgba(0, 0, 0, .15);

      span {
        color: white
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .bottom-section .container {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .bottom-section .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .bottom-section .container {
    width: 100%;
  }
}
