@use "src/static/css/common" as common;

.wrapper-add-agency {
  min-height: 86vh;
  display: flex;

  .container {
    width: 960px;
    margin: 0 auto;
    padding: 3rem 40px;

    h3 {
      margin-bottom: 5rem;
    }

    .info-block {
      display: flex;

      .left {
        min-width: 14rem;
        max-width: 14rem;
        display: flex;
        align-items: center;

        .avatar-box {
          align-self: flex-start;
          width: 10rem;
          height: 10rem;
          background: white;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          transition: .2s;
          border: 2px solid #cecece;
          overflow: hidden;

          input[type=file] {
            display: none;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &:hover {
            background: #eee;

            svg {
              fill: #4a018a;
            }

            span {
              color: #4a018a;
            }
          }

          svg {
            margin-top: 30%;
            transition: .2s;
          }

          span {
            transition: .2s;
            font-weight: bold;
            color: #999;
          }
        }

        h4 {
          color: #4a018a;
          font-size: 20px;
          line-height: 1.2;
          margin: 0;
          padding-right: 1rem;
        }
      }

      .right {
        display: flex;
        flex-grow: 100;
        align-items: center;
        transition: .2s;

        &.col {
          flex-direction: column;
          align-items: flex-start;

          input {
            margin-bottom: 1rem;
          }
        }

        h4 {
          margin-top: 0;
          color: #4a018a;
          font-size: 20px;
        }

        .advantage-box {
          max-width: calc(100% - 3.5rem);
          margin-bottom: 1rem;
          position: relative;
          transition: .2s;

          &:hover {
            max-width: 100%;

            .advantage {
              margin-left: 3rem;
            }

            .minus-box {
              z-index: 1;
              transition-delay: .15s;
            }
          }

          .advantage {
            display: inline-block;
            align-items: center;
            min-height: 3rem;
            padding: 1rem 1.5rem;
            color: #999;
            background: white;
            border-radius: 1.5rem;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2);
            transition: .2s;
          }

          .minus-box {
            cursor: pointer;
            position: absolute;
            display: flex;
            align-items: center;
            height: 100%;
            left: .5rem;
            top: 0;
            z-index: -1;
            transition: 0s;

            .minus-icon {
              display: flex;
              height: 33px;
              width: 33px;
              background: #cecece;
              border-radius: 50%;
              transition: .2s;

              &:hover {
                background: #4a018a;
              }

              .minus {
                margin: auto;
                height: 4px;
                width: 16px;
                border-radius: 2px;
                background: white;
              }
            }
          }
        }

        .row {
          display: flex;
          align-items: center;
          width: 100%;

          input {
            margin-bottom: 0;
            max-width: calc(100% - 3rem);
          }

          svg {
            cursor: pointer;
            margin-left: .5rem;
            height: 40px;
            min-width: 40px;
            max-width: 40px;
            transition: .2s;
            border-radius: 50%;

            &:hover {
              fill: #4a018a;
            }
          }
        }

        input {
          background: white;
          border: 2px solid #eaeaea;
          padding: 1rem 1.5rem;
          font-size: 16px;
          border-radius: 1.5rem;
          height: 3rem;
          color: #4a018a;
          width: 100%;
          transition: .2s;

          &:focus {
            border-color: #cecece;
            transition: 0s;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &::placeholder {
            color: #4a018a;
            opacity: .5;
          }
        }
      }
    }

    .terms-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h4 {
        font-size: 30px;
        line-height: 1.2;
        color: #4a018a;
      }

      .terms {
        color: #555;
        font-size: 18px;
        line-height: 1.3;
      }

      .terms-agreement {
        display: flex;
        align-items: center;
        color: #999;
        font-size: 18px;
        margin: 1rem 0;
        cursor: pointer;

        .check-box {
          margin-right: 1rem;
        }
      }

      a {
        display: inline-block;
        position: relative;
        font-size: 20px;
        color: #8E00A6;
        text-decoration: none;
        margin: 1rem 0;

        &:after {
          content: "";
          position: absolute;
          height: 2px;
          border-radius: 1px;
          background: #8E00A6;
          width: 0;
          bottom: -3px;
          left: 0;
          transition: .2s;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }

    .divider {
      width: 100%;
      height: 3px;
      background: #eaeaea;
      border-radius: 3px;
      margin: 2rem 0;
    }

    .round-btn {
      @include common.round-btn(#8E00A6);
      font-weight: normal;
      align-self: center;
      margin-top: 1rem;
      padding: 1rem 2rem;

      .app-loading {
        min-height: auto;
        height: 18px;

        .anim-box {
          height: 18px;
          padding: 0;
          margin: 0;
        }
      }
    }

    .app-loading .anim-box {
      padding-bottom: 10rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper-add-agency .container .terms-block a {
    &:hover {
      text-decoration: underline;
    }

    &:after {
      display: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-add-agency .container {
    width: 640px;

    .info-block {

      .left {
        max-width: 10rem;
        min-width: 10rem;

        h4 {
          font-size: 17px;
        }

        .avatar-box {
          width: 8rem;
          height: 8rem;

          span {
            font-size: 14px;
            font-weight: bold;
            color: #999;
          }
        }
      }

      .right .advantage-box {
        max-width: calc(100% - 3.5rem) !important;

        &:hover {
          max-width: initial;

          .advantage {
            margin-left: initial;
          }

          .minus-box {
            z-index: initial;
            transition-delay: initial;
          }
        }

        .minus-box {
          z-index: -1 !important;
        }

        &.removable {
          max-width: 100%;

          .advantage {
            margin-left: 3rem;
          }

          .minus-box {
            z-index: 1 !important;
            transition-delay: .15s;
          }
        }
      }

      .terms-block a {
        &:hover {
          &:after {
            display: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-add-agency .container {
    width: 480px;
    padding: 3rem 1rem;

    h3 {
      margin-bottom: 2.5rem;
    }

    .info-block {
      flex-direction: column;

      .right {
        margin-top: 2rem;
      }

      .left {
        max-width: 100%;

        .avatar-box {
          margin: 0 auto;
        }

        h4 {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-add-agency .container {
    width: 100%;

    .terms-block {

      h4 {
        margin: 0 0 1rem 0;
        font-size: 26px;
      }

      .terms-agreement {
        font-size: 16px;
      }
    }
  }
}
