.wrapper-program .about-program {
  display: flex;
  background: #eee;

  .container {
    width: 1280px;
    padding: 5rem 40px;
    margin: 0 auto;
    display: flex;

    .left {
      width: calc(50% - 1rem);
      margin-right: 1rem;
      min-height: 528px;
      height: 100%;
      background: url("./media/default.jpg") center center;
      background-size: cover;
      overflow: hidden;
    }

    .right {
      padding: 4rem;
      width: calc(50% - 1rem);
      margin-left: 1rem;
      background: #4a018a;
      display: flex;

      .v-aligner {
        margin: auto 0;

        h4 {
          font-size: 40px;
          line-height: 1.1;
          color: white;
          margin-top: 0;
          margin-bottom: 2rem;
          // text-shadow: 3px 3px .8rem rgba(0, 0, 0, .5);
        }

        .divider {
          width: 5rem;
          height: 4px;
          border-radius: 2px;
          background: #6e349e;
        }

        .desc {
          font-size: 16px;
          line-height: 1.5;
          color: white;
          margin-top: 2rem;
          // text-shadow: 3px 3px .8rem rgba(0, 0, 0, .5);
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-program .about-program .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program .about-program .container {
    width: 640px;
    flex-direction: column;

    .left {
      display: none;
    }

    .right {
      width: 100%;
      margin: 0;
      min-height: 450px;
      padding: 2rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program .about-program .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program .about-program .container {
    width: 100%;

    .right .v-aligner {
      h4 {
        font-size: 30px;
      }

      .desc {
        font-size: 16px;
      }
    }
  }
}