@use "src/static/css/common" as common;

.wrapper-agency .programs {
  display: flex;

  .container {
    width: 960px;
    padding: 5rem 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      text-align: center;
    }

    .desc {
      text-align: center;
      color: #555;
      width: 100%;
      font-size: 20px;
      line-height: 1.5;
    }

    .programs-list {
      padding: 0 4rem;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .program {
        position: relative;
        text-decoration: none;
        width: 80%;
        display: block;
        border: 1px solid #cecece;
        padding: 1.5rem;
        background: white;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
        transition: .3s;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);

        &:hover {
          margin-left: 2rem;

          .arrow-icon {
            left: -2.5rem;
          }
        }

        h4 {
          color: #4a018a;
          font-size: 20px;
          margin-top: 0;
        }

        .propgram-desc {
          color: #999;
        }

        .arrow-icon {
          position: absolute;
          top: 0;
          left: .5rem;
          height: 100%;
          display: flex;
          z-index: -1;
          transition: .3s;

          img {
            transform: scale(.5) rotate(-90deg);
            height: 30px;
            margin: auto 0;
          }
        }
      }
    }

    .round-btn {
      @include common.round-btn(#8e00a6);
      display: inline-block;
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-agency .programs .container {
    width: 640px;

    .programs-list .program {
      width: 100%;

      h4 {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-agency .programs .container {
    width: 480px;
    padding: 3rem 1rem;

    .desc {
      font-size: 18px;
      line-height: 1.3;
    }

    .programs-list {
      padding: 0 2rem;

      .program h4 {
        font-size: 16px;
      }
    }

    .round-btn {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .wrapper-agency .programs .container {
    width: 100%;

    .desc {
      font-size: 16px;
    }

    .programs-list {
      padding: 0;
    }
  }
}