@use "src/static/css/common" as common;

.wrapper-contacts {
  min-height: 86vh;

  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 3rem 40px;

    h3 {
      width: 60%;
    }

    .wrapper {
      display: flex;
      margin-top: 4rem;

      .info-block {

        &:first-child {
          flex: .6;
          flex-grow: 100;
        }

        &:last-child {
          flex: .4;
          height: 100%;
          padding-left: 2rem;
          padding-top: 2rem;

          .contact-info {
            display: flex;
            align-items: center;
            margin: auto 0;

            &:last-child {
              margin-top: 2rem;
            }

            img {
              max-width: 3rem;
            }

            span {
              white-space: nowrap;
              margin-left: 1rem;
              font-size: 20px;
              color: #4a018a;
            }
          }
        }

        .row {
          display: flex;

          &:first-child {
            margin-bottom: 1rem;
          }

          &:last-child {
            margin-right: .5rem;
          }

          input {
            margin: 0 .5rem 0;
            padding: 0 1rem;
            width: calc(33% - 0.666666rem);
            background-color: white;
            border: 2px #eaeaea solid;
            border-radius: 1.5rem;
            color: #4a018a;
            font-size: 16px;
            line-height: 3rem;
            transition: .2s;

            &::placeholder {
              color: rgba(74, 1, 138, 0.5);
            }

            &::-moz-placeholder {
              color: #4a018a;
            }

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }

            &:focus {
              transition: 0s;
              border-color: #cecece;
            }
          }

          textarea {
            padding: 1rem;
            background-color: white;
            border: 2px #eaeaea solid;
            border-radius: 1.5rem;
            color: #4a018a;
            resize: none;
            font-size: 16px;
            line-height: 20px;
            min-width: 100%;
            min-height: calc(104px + 2rem);
            transition: .2s;

            &::placeholder {
              color: rgba(74, 1, 138, 0.5);
            }

            &::-moz-placeholder {
              color: #4a018a;
            }

            &:focus {
              transition: 0s;
              resize: vertical;
              border-color: #cecece;
              border-bottom-right-radius: 0;
            }
          }
        }
      }
    }

    .agreement {
      margin-left: 0;
    }

    .round-btn {
      @include common.round-btn(#4a018a);
      padding: 1rem 1.5rem;
      margin-right: 1rem;
      margin-bottom: 1rem;

      .app-loading {
        min-height: 0;

        .anim-box {
          height: 20px;
          margin: 0;

          .circle {
            height: 100%;
            width: 20px;
          }
        }
      }
    }

    a {
      text-decoration: none;
      display: inline;
      white-space: nowrap;
      vertical-align: middle;
      font-size: 12px;
      color: #999;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-contacts .container {
    width: 960px;

    .wrapper .info-block:first-child .row {
      flex-direction: column;

      &:last-child {
        margin-right: 0;
      }

      input {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-contacts .container {
    width: 640px;

    h3 {
      width: 100%;
    }

    .wrapper {
      flex-direction: column-reverse;
      margin-top: 3rem;

      .info-block:last-child {
        display: flex;
        align-items: center;
        padding: 0;
        margin-bottom: 2rem;

        .contact-info {
          &:last-child {
            margin-top: 0;
            margin-left: auto;
          }

          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-contacts .container {
    width: 480px;
    padding: 3rem 1rem;

    .wrapper .info-block:last-child {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      margin-bottom: 2rem;

      .contact-info:last-child {
        margin-top: 1rem;
        margin-left: 0;
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .wrapper-contacts .container {
    width: 100%;
  }
}
