@use "src/static/css/common" as common;

.wrapper-agency .cashback {
  display: flex;
  min-height: 80vh;
  padding: 3rem 0;
  position: relative;
  background-image: url("./media/background.jpg");
  background-size: cover;
  background-position: center center;

  .purpler {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(74, 1, 138, .8);
    z-index: 2;
    box-shadow: inset 0 1rem 8px -10px rgba(0, 0, 0, .2), inset 0 -1rem 8px -10px rgba(0, 0, 0, .2);
  }

  .container {
    width: 1280px;
    padding: 5rem 40px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      font-size: 44px;
      color: white;
      text-align: left;
      line-height: 1.2;
      margin: 0 0 3rem;
      z-index: 3;
      text-transform: none;
      text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
    }

    .desc {
      font-size: 18px;
      line-height: 1.5;
      width: 65%;
      color: rgba(255, 255, 255, .7);
      z-index: 3;
      margin-bottom: 3rem;
      text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
    }

    .round-btn {
      @include common.round-btn(#8E00A6);
      display: inline-block;
      width: auto;
      border-radius: 3rem;
      z-index: 3;
      box-shadow: 0 0 .6rem 0 rgba(0, 0, 0, .2);
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-agency .cashback .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-agency .cashback .container {
    width: 100%;
    margin: 0;
    padding-left: 4rem;

    .desc {
      width: 80%;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-agency .cashback .container {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-agency .cashback .container {
    h3 {
      font-size: 34px;
      line-height: 1.1;
    }

    .desc {
      width: 100%;
    }

    .round-btn {
      font-size: 16px
    }
  }
}