@use "src/static/css/common" as common;

.upper-box {
  position: relative;
  background-image: url("./media/earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  h4 {
    color: white;
    font-size: 40px;
    line-height: 40px;
    padding-right: 10rem;
    width: 50%;
    margin: 0;
    text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
  }

  .purple-color {
    display: flex;
    padding: 5rem;
    background-color: rgba(74, 1, 138, 0.85);
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;

    .contact-us {
      width: 50%;

      input {
        margin-top: 1.5rem;
        width: 30rem;
        padding: .2rem;
        z-index: 1;
        display: block;
        background-color: transparent;
        border: none;
        border-bottom: 2px #999 solid;
        -webkit-border-radius: 0 !important;
        color: white;
        font-size: 18px;
        line-height: 20px;
        transition: .2s;

        &:focus {
          border-color: white;
          transition: 0s;
        }

        &::placeholder {
          color: rgba(255, 255, 255, .5);
        }

        &::-moz-placeholder {
          color: white;
        }

        &:first-child {
          margin-top: 10px;
        }
      }

      a {
        text-decoration: none;
        display: inline;
        white-space: nowrap;
        vertical-align: middle;
        font-size: 12px;
        color: #999;

        &:hover {
          text-decoration: underline;
        }
      }

      .agreement {
        margin: 1.5rem 0
      }

      .round-btn {
        @include common.round-btn(#8e00a6);
        display: inline-block;
        padding: .7rem 2rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

        span {
          color: white;
        }

        .app-loading {
          min-height: 0;

          .anim-box {
            height: 20px;
            margin: 0;

            .circle {
              height: 100%;
              width: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .upper-box {
    .purple-color .contact-us input {
      width: 26rem;
    }

    h4 {
      padding-right: 3rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .upper-box {
    h4 {
      font-size: 30px;
    }

    .purple-color {
      padding: 3rem 2rem;

      .contact-us input {
        width: 18rem;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .upper-box .purple-color {
    flex-direction: column;

    h4 {
      width: 100%;
      margin-bottom: 2rem;
      font-size: 26px;
      line-height: 1.2;
    }

    .contact-us, .contact-us input {
      width: 100%;
    }
  }
}