.wrapper-partners .how-we-work {
  display: flex;

  .container {
    width: 1280px;
    padding: 5rem 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h3 {
      text-transform: none;
      text-align: center;
      font-size: 42px;
      margin-bottom: 4rem;
    }

    .info {
      font-size: 26px;
      line-height: 1.5;
      color: #555;
      width: 70%;
      margin: 0 auto 0;
      text-align: center;
    }

    .list {
      width: 100%;
      margin: 2rem auto 0;
      display: flex;
      flex-wrap: wrap;

      .item {
        padding: 1rem;
        width: 33.333%;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;

        span {
          display: flex;
          font-weight: bold;
          min-width: 60px;
          min-height: 60px;
          max-width: 60px;
          max-height: 60px;
          border-radius: 50%;
          color: white;
          font-size: 20px;
          background-color: #4a018a;
          margin-right: 1rem;

          div {
            margin: auto;
          }
        }

        .desc {
          color: black;
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-partners .how-we-work .container {
    width: 960px;

    .info {
      width: 100%;
    }

    .list .item {
      width: 50%;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-partners .how-we-work .container {
    width: 640px;

    .list .item {
      width: 100%;
      margin-bottom: 1.5rem;

      span {
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;

        div {
          font-size: 15px;
        }
      }
    }

    .info {
      margin-top: 1.5rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-partners .how-we-work .container {
    width: 480px;
    padding: 3rem 1rem;

    h3 {
      font-size: 30px;
      margin-bottom: 1rem;
    }

    .list .item {
      margin-bottom: 0;
    }

    .info {
      font-size: 20px;
      margin-top: 3rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-partners .how-we-work .container {
    width: 100%;
  }
}