.wrapper-questionnaire {
  min-height: 86vh;
  display: flex;

  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 3rem 40px;

    .desc {
      color: #555;
      font-size: 16px;
      line-height: 1.3;
    }

    .group {
      display: flex;
      padding: 2rem 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-questionnaire .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-questionnaire .container {
    width: 640px;

    .group {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-questionnaire .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-questionnaire .container {
    width: 100%;
  }
}
