.wrapper-partners .plan {
  display: flex;

  .container {
    width: 1280px;
    padding: 5rem 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h3 {
      text-transform: none;
      text-align: center;
      font-size: 42px;
      margin-bottom: 4rem;
    }

    .info {
      font-size: 24px;
      line-height: 1.5;
      width: 50%;
      text-align: center;
      margin: 0 auto;
    }

    .list {
      width: 100%;
      margin: 6rem auto 0;
      display: flex;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        font-size: 18px;
        text-align: center;
        width: 33.3333%;

        img {
          min-width: 90px;
          max-width: 90px;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-partners .plan .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-partners .plan .container {
    width: 640px;

    .info {
      width: 80%;
    }

    .list {
      flex-direction: column;

      .item {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-partners .plan .container {
    width: 480px;
    padding: 3rem 1rem;

    h3 {
      font-size: 30px;
      margin-bottom: 1rem;
    }

    .info {
      font-size: 18px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-partners .plan .container {
    width: 100%;
  }
}