@use "src/static/css/common" as common;

.wrapper-programs {
  min-height: 100vh;

  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 3rem 40px;

    .program {
      display: inline-flex;
      flex-direction: column;
      width: 33%;
      padding-right: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;
      text-decoration: none;

      .program-image {
        position: relative;
        background: #eee;
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
          border-radius: 10px;
          transition: .8s ease-out;

          &.image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
          }
        }
      }

      &:hover {
        h5 {
          color: #4a018a;
        }

        .program-image {
          img {
            transform: scale(1.1);
          }
        }
      }

      .program-props {
        display: flex;
        align-items: center;
        color: #8E00A6;
        text-transform: uppercase;
        font-size: 12px;
        height: 2.4rem;

        .terms {
          margin-right: auto;
        }

        .simplicity {
          margin-left: .5rem;

          div {
            max-height: 12px;
          }

          img {
            height: 12px;
            margin-right: 2px;
          }
        }
      }

      h5 {
        font-size: 26px;
        color: #555;
        margin: -5px 0 0;
        transition: .2s;
      }

      .desc {
        font-size: 16px;
        line-height: 20px;
        color: #999;
        margin-top: 1rem;
      }
    }

    .show-more {
      display: flex;
      margin-top: 1rem;

      .round-btn {
        @include common.round-btn(#8E00A6);
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-programs .container {
    width: 960px;

    .program {
      width: 50%;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-programs .container {
    width: 640px;

    .program {
      width: 100%;
      padding-right: 0;
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-programs .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-programs .container {
    width: 100%;
  }
}
