@use "src/static/css/common" as common;

.right-section {
  padding: 0 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  h4 {
    color: #8E00A6;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
  }

  .warning {
    font-size: 16px;
    color: #fafafa;
    padding: 1.5rem;
    margin-left: 2rem;
    background-color: #4a018a;
    border-radius: 10px;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, .5);
  }

  .questions {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 2rem;

    .question {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      .check-box {
        background: white;
      }
    }
  }

  .round-btn {
    @include common.round-btn(#4a018a);
    align-self: center;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;

    .app-loading {
      min-height: initial;
      height: 20px;
    }
  }
}

@media screen and (max-width: 960px) {
  .right-section {
    margin-top: 2rem;
    padding: 0;

    .warning {
      margin: 0;
    }

    .questions {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .right-section .questions .question .title {
    font-size: 16px;
  }
}