@use "src/static/css/common" as common;

.wrapper-program-new .about-program .container {
  width: 1280px;
  margin: 0 auto;
  padding: 5rem 40px;

  .desc {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-program-new .about-program .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program-new .about-program .container {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program-new .about-program .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program-new .about-program .container {
    width: 100%;
  }
}
