.wrapper-errorpage {
  min-height: 86vh;

  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 3rem 40px;
    display: flex;

    .centerer {
      margin: auto;
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 62px;
        text-align: center;
        color: #4a018a;
      }

      .desc {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-errorpage .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-errorpage .container {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper-errorpage .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-errorpage .container {
    width: 100%;
  }
}
