.logo-box {
  display: flex;
  align-items: center;
  height: 39px;
  min-width: 48px;
  overflow: hidden;

  .logo-icon {
    width: 48px;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    z-index: 2;

    img {
      @keyframes logo-icon-appear {
        0% {
          margin-bottom: -30px;
        }
        100% {
          margin-bottom: 0;
        }
      }

      margin: auto auto -30px;
      height: 30px;
      animation: logo-icon-appear .7s forwards;
    }
  }

  .logo-text {
    @keyframes logo-text-appear {
      0% {
        margin-left: -200px;
        opacity: 0;
      }
      100% {
        margin-left: 6px;
        opacity: 1;
      }
    }
    height: 20px;
    margin-left: -200px;
    z-index: 1;
    animation: logo-text-appear 1s forwards;
    animation-delay: 1s;
  }
}