.wrapper-agency .agency-services {
  display: flex;

  .container {
    width: 1280px;
    padding: 5rem 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h3 {
      text-align: center;
      margin-bottom: 4rem;
    }

    .steps-list {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        align-items: center;

        &:last-child .step:last-child {
          max-width: 100%;
        }

        .step {
          padding: 1rem;
          min-width: 33%;
          max-width: 33%;
          display: flex;
          align-items: center;

          span {
            display: flex;
            font-weight: bold;
            min-width: 60px;
            min-height: 60px;
            max-width: 60px;
            max-height: 60px;
            border-radius: 50%;
            color: white;
            font-size: 20px;
            background-color: #4a018a;
            margin-right: 1rem;

            div {
              margin: auto;
            }
          }

          .desc {
            color: black;
            font-size: 16px;
            line-height: 1.4;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-agency .agency-services .container {
    width: 960px;

    .steps-list .step .desc {
      line-height: 1.2;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-agency .agency-services .container {
    width: 640px;

    .steps-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .row {
        display: contents;

        .step {
          display: inline-flex;
          flex: 1;
          min-width: 50%;
          min-height: 6rem;
          padding: 0 1rem 0 0;

          .desc {
            line-height: 1.1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-agency .agency-services .container {
    width: 480px;
    padding: 3rem 1rem;

    h3 {
      margin-bottom: 2rem;
      text-align: left;
    }

    .steps-list .row .step {
      display: flex;
      min-width: 100%;
      min-height: 40px;
      margin-bottom: 1rem;

      span {
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px;
        margin-right: .5rem;

        div {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-agency .agency-services .container {
    width: 100%;
  }
}