@use "src/static/css/common" as common;

.wrapper-program .bottom-section {
  display: flex;
  min-height: 30vh;
  padding: 3rem 0;
  position: relative;
  background-color: #4a018a;
  background-image: radial-gradient(
      circle at bottom,
      rgba(107, 0, 138, 0.5),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
  ), radial-gradient(
      circle at top left,
      rgba(63, 39, 126, 0.9),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
  ), radial-gradient(
      circle at top right,
      rgba(63, 39, 126, 0.9),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
  );
  box-shadow: inset 0 1.2rem 8px -10px rgba(0, 0, 0, .2), inset 0 -1rem 8px -10px rgba(0, 0, 0, .2);

  .container {
    width: 1280px;
    padding: 0 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 40px;
      color: white;
      text-align: center;
      line-height: 1.35;
      width: 36rem;
      margin: 0 0 2rem;
      z-index: 3;
      text-transform: none;
      text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
    }

    .desc {
      color: white;
      font-size: 18px;
      width: 36rem;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 3rem;
      text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
    }

    .round-btn {
      @include common.round-btn(#8E00A6);
      display: inline-block;
      width: auto;
      border-radius: 3rem;
      z-index: 3;
      box-shadow: 0 0 .6rem 0 rgba(0, 0, 0, .2);
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-program .bottom-section .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program .bottom-section .container {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program .bottom-section {
    padding: 0;

    .container {
      width: 480px;
      padding: 3rem 1rem;

      h3 {
        width: 100%;
        font-size: 30px;
      }

      .desc {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program .bottom-section .container {
    width: 100%;

    h3 {
      font-size: 22px;
      line-height: 1.2;
    }

    .desc {
      font-size: 16px;
    }

    .round-btn {
      font-size: 16px;
    }
  }
}