@use "src/static/css/common" as common;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
}

.backLink {
  position: absolute;
  margin-top: -1.5rem;
  color: #4a018a;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.contents {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.text {
  width: 100%;
  color: #666666;
  line-height: 1.5;
  font-size: 16px;
  margin-right: auto;

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(black, .3);

  h5 {
    margin-top: 0;
    color: white;
    font-size: 18px;
    white-space: nowrap;
  }

  a {
    white-space: nowrap;
    text-decoration: none;
    color: white;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.buttons {
  display: flex;
  margin-top: auto;
}

.button {
  @include common.round-btn-module(#4a018a);
  margin: 0 1rem;
  padding: 1rem 2rem !important;

  &:first-child {
    @include common.round-btn-module(#8E00A6);
    margin-right: auto;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 90%;
    padding: 3rem 0;
  }
}