.wrapper-agency .agency-advantages {
  display: flex;

  .container {
    width: 1280px;
    padding: 5rem 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h3 {
      text-align: center;
      margin-bottom: 4rem;
    }

    .row .feature {
      width: 50%;
      padding: 4rem 0 0 8rem;
      position: relative;

      &.right {
        margin-left: auto;
      }

      span {
        z-index: -1;
        position: absolute;
        top: -2rem;
        left: 0;
        font-size: 200px;
        color: rgba(230, 230, 230, .6);
        font-weight: bold;
      }

      h4 {
        margin: 0 0 1.5rem;
        color: #4a018a;
        font-size: 22px;
        line-height: 1.35;
      }

      .desc {
        color: black;
        font-size: 16px;
        line-height: 1.55;
        padding-right: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-agency .agency-advantages .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-agency .agency-advantages .container {
    width: 640px;

    .row .feature {
      width: 100%;
      margin-bottom: 2rem;
      min-height: 12rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-agency .agency-advantages .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-agency .agency-advantages .container {
    width: 100%;

    .row .feature {
      padding: 4rem 0 0 4rem;

      h4 {
        margin-bottom: .5rem;
        line-height: 1.1;
      }

      .desc {
        line-height: 1.3;
        font-size: 14px;
      }
    }
  }
}