<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Hello Move - платформа для подбора миграционных программ</title>
    <meta itemprop="name" content="Hello Move">
    <meta itemprop="description"
          content="Узнайте за 1 минуту возможности переезда, которые подойдут именно Вам. Первый агрегатор на рынке миграционных услуг">
    <meta itemprop="image" content="%PUBLIC_URL%/static/sharing.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hello Move">
    <meta name="twitter:description"
          content="Узнайте за 1 минуту возможности переезда, которые подойдут именно Вам. Первый агрегатор на рынке миграционных услуг">
    <meta name="twitter:image:src" content="%PUBLIC_URL%/static/sharing.jpg">

    <meta property="og:title" content="Hello Move"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://hello-move.com/"/>
    <meta property="og:image" content="%PUBLIC_URL%/static/sharing.jpg"/>
    <meta property="og:description"
          content="Узнайте за 1 минуту возможности переезда, которые подойдут именно Вам. Первый агрегатор на рынке миграционных услуг"/>
    <meta property="og:site_name" content="Hello Move"/>
    <link rel="icon" href="%PUBLIC_URL%/static/favicon.png" type="image/png">
    <link rel="shortcut icon" href="%PUBLIC_URL%/static/favicon.png" type="image/png">

    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#4a018a" />

    <link rel="apple-touch-icon" href="%PUBLIC_URL%/static/favicon.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <div id="webinar"></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  {{ additional_code|safe }}
  </body>
</html>
