.footer-bottom {
  position: relative;
  background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
  z-index: 1;

  .upper-info {
    padding: 4rem;
    display: flex;

    .logo-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: .5;
      margin-right: 1rem;

      .logo {
        display: inline-block;
        background-image: url("./media/logo.png");
        background-size: cover;
        width: 183px;
        height: 40px;
      }

      .circle-btn {
        margin: 2rem 0 0;
        white-space: nowrap;
        box-shadow: none;

        &:active {
          margin-top: 2rem;
        }
      }

      .switch-lang {
        cursor: pointer;
        text-align: left;
        background: transparent;
        border: none;
        color: white;
        font-size: 16px;
        margin-top: 1.5rem;
        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .info-block {
      display: contents;
      width: 100%;

      .info-col {
        margin: 0 auto;
        padding: 0 1.5rem;

        * {
          margin: 1rem 0;
          display: block;

          &:first-child {
            margin-top: 0;
          }
        }

        span {
          color: white;
        }

        a {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .payment-options {
          margin-top: 0;

          img {
            height: 2.5rem;
            display: inline-block;
            margin: 0;

            &:last-child {
              margin-left: .5rem;
            }
          }
        }
      }
    }
  }

  .divider {
    height: 3px;
    width: calc(100% - 4rem);
    margin: 0 auto;
    border-radius: 3px;
    background: white;
  }

  .bottom-info {
    padding: 2rem 4rem;
    width: 100%;
    display: flex;

    span {
      color: white;
    }

    .right {
      display: inline-block;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer-bottom .upper-info {
    .logo-block {
      flex: 0;
      margin-right: 3rem;
    }

    .info-block {
      flex-direction: column;
      display: flex;

      .info-col {
        margin: 0 0 1.5rem 0;
        min-height: 50%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer-bottom .upper-info .logo-block .circle-btn:hover {
    margin-top: 2rem;
    box-shadow: 0 0 .5rem .3rem rgba(0, 0, 0, .2);
  }
}

@media screen and (max-width: 800px) {
  .footer-bottom .upper-info {
    flex-direction: column;

    .logo-block {
      width: 100%;
    }

    .info-block .info-col {
      margin-bottom: 0;
      margin-top: 2rem;
      padding: 0;
      min-height: initial;
    }
  }
}

@media screen and (max-width: 480px) {
  .footer-bottom {
    .upper-info {
      padding: 2rem;

      .logo-block .circle-btn:hover {
        margin-top: 2rem;
        box-shadow: 0 0 .5rem .3rem rgba(0, 0, 0, .2);
      }
    }

    .bottom-info {
      padding: 2rem;
      font-size: 12px;
    }

    .divider {
      width: calc(100% - 2rem);
    }
  }
}