@mixin link {
  a {
    font-size: 18px;
    margin: 0 1rem;
    letter-spacing: 1px;
    padding: .3rem .2rem;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 .7rem black;
    transition: .15s;

    &:focus::-moz-focus-outer {
      border: none;
    }

    &:hover {
      padding-bottom: .5rem;
      padding-top: .1rem;
      text-shadow: .2rem .3rem .7rem black;
    }

    &:first-child {
      margin-left: auto;
    }

    &.active, &:focus {
      position: relative;
      letter-spacing: 1px;
      text-shadow: 0 0 .3rem rgba(0, 0, 0, .5), -0.11ex 0 white, 0.1ex 0 white;

      &:after {
        @keyframes underline-appear {
          0% {
            width: 0;
            margin: 0 50%;
          }
          100% {
            width: 100%;
            margin: 0;
          }
        }
        position: absolute;
        bottom: -2px;
        left: 0;
        content: '';
        height: 3px;
        border-radius: 3px;
        background: white;
        width: 0;
        margin: 0 50%;
        animation: .3s underline-appear forwards;
      }

      &:hover {
        text-shadow: .2rem .3rem .7rem rgba(0, 0, 0, .5), -0.11ex 0 white, 0.1ex 0 white;
      }
    }
  }
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 14vh;
  min-height: 4rem;
  background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
  color: white;
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .2);
  z-index: 10001;
  transition: .25s;

  &.small {
    height: 8vh
  }

  .logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .circle-btn {
    background-color: white;
    color: #4a018a;
    white-space: nowrap;
    margin-right: 0;
  }
}

.menu-mobile {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  margin-left: auto;
  margin-right: 1rem;

  img {
    height: 30px;
    margin: auto;
  }
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  width: 42rem;

  @include link;
}

.slider {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100vh;
  opacity: 0;
  background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
  box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, .2);
  padding-left: 2rem;
  transition: .3s;
  z-index: 10002;

  &.active {
    right: 0;
    opacity: 1;
  }

  .top-box {
    height: 14vh;
    display: flex;
    align-items: center;
    z-index: 3;
    transition: .25s;

    &.small {
      height: 8vh;
      padding-top: .5rem;
    }

    .links {
      width: auto;
      align-self: flex-start;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 4rem;
      margin-right: 0;
      z-index: 2;
      transition: .25s;

      .circle-btn {
        margin: 1rem 0 .5rem .5rem;

        &:hover {
          margin-top: 1rem;
          box-shadow: 0 0 .5rem .3rem rgba(0, 0, 0, .2);
        }
      }

      a {
        margin: .5rem 0;
        height: 3rem;
        line-height: 3rem;
        padding: 0 .5rem;
        text-shadow: 0 0 .3rem rgba(0, 0, 0, .5) !important;

        &.active {
          font-weight: bold;
          padding-left: 1rem;
          margin-left: .5rem;

          &:after {
            left: -2px;
            top: 0;
            width: 3px;
            height: 100%;
            margin: 0;
            animation: none;
          }
        }
      }

      a:first-child {
        margin-top: 0;
      }
    }

    .close-menu {
      cursor: pointer;
      height: 18px;
      width: 18px;
      margin-left: auto;
      padding: 0;
      margin-right: 2rem;
      background: none;
      border: none;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header .links {
    a:hover {
      padding: .3rem .2rem;
      text-shadow: 0 0 .7rem black;
    }

    .circle-btn:hover {
      margin-bottom: 0;
      box-shadow: 0 0 .5rem .3rem rgba(0, 0, 0, .2);
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    .links {
      display: none;
    }

    .logo {
      margin-left: 1rem;
    }

    .menu-mobile {
      display: flex;
    }
  }
}