.wrapper-homepage .team {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 3rem 40px;

    .group {
      width: 880px;
      display: flex;
      margin: 0 auto;

      .block {
        position: relative;
        display: flex;
        width: calc(50% - 1rem);
        height: 26.5rem;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
        transition: .2s;

        .bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url("./media/notYura.jpg") center 0 no-repeat;
          background-size: cover;
        }

        &:first-child {
          margin-right: 2rem;

          .bg {
            background: url("./media/yura.png") center 0 no-repeat;
            background-size: cover;
          }
        }

        .purpler {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(74, 1, 138, .75);
          opacity: 0;
          z-index: 1;
          transition: .2s;
        }

        .info {
          position: absolute;
          width: 80%;
          bottom: -15rem;
          left: 0;
          z-index: 2;
          padding: 2rem;
          transition: .2s;

          h4 {
            color: white;
            text-shadow: 0 0 8px black;
          }

          .desc {
            color: white;
            font-size: 15px;
            line-height: 1.2;
            text-shadow: 0 0 .5rem black;
          }
        }

        .icons {
          position: absolute;
          right: -6rem;
          bottom: 0;
          display: flex;
          flex-direction: column;
          padding: 2rem;
          z-index: 2;
          transition: .2s;

          .icon {
            background-color: white;
            margin-bottom: 1rem;
            border-radius: 50%;
            height: 3rem;
            width: 3rem;
            box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);

            &:last-child {
              margin-bottom: 0;
            }

            img {
              margin: -1px 0 0 -1px;
              width: calc(100% + 2px);
              height: calc(100% + 2px);
              transform: scale(1.05);
            }
          }
        }

        &:hover {
          box-shadow: 0 0 .5rem rgba(74, 1, 138, .5);

          .bg {
            filter: grayscale(1);
          }

          .purpler {
            opacity: 1;
          }

          .info {
            bottom: 0;
          }

          .icons {
            right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-homepage .team .container {
    width: 960px;

    .group {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper-homepage .team .container .group .block {
    box-shadow: 0 0 .5rem rgba(74, 1, 138, .5);

    .bg {
      filter: grayscale(1);
    }

    .purpler {
      opacity: 1;
    }

    .info {
      bottom: 0;
    }

    .icons {
      right: 0;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .team .container {
    width: 640px;

    .group .block {
      height: 16.5rem;

      .info {
        width: 100%;
        padding: 1rem;

        .desc {
          font-size: 12px;
        }
      }

      .icons {
        flex-direction: row;
        top: 0;
        left: 0;
        padding: 1rem;

        .icon {
          margin: 0 1rem 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .team .container {
    width: 480px;
    padding: 3rem 1rem;

    .group {
      flex-direction: column;

      .block {
        width: 100%;
        height: 25.5rem;

        &:first-child {
          margin-right: 0;
          margin-bottom: 2rem;
        }

        .info {
          width: 80%;
          padding: 2rem;

          .desc {
            font-size: 15px;
          }
        }

        .icons {
          flex-direction: column;
          top: initial;
          left: initial;
          bottom: 0;
          right: 0;
          padding: 2rem;

          .icon {
            margin: 1rem 0 0 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .team .container {
    width: 100%;

    .group .block {
      height: 110vw;

      .info {
        padding: 1.5rem;

        .desc {
          font-size: 12px;
        }
      }

      .icons {
        padding: 1.5rem;

        .icon {
          height: 10vw;
          width: 10vw;
        }
      }
    }
  }
}
