@use "src/static/css/common" as common;

.wrapper-change-texts {
  min-height: 86vh;
  display: flex;

  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 3rem 40px;

    .top-menu {
      display: flex;

      .lang-choice {
        display: inline-flex;
        border-radius: 5rem;

        button {
          color: #4a018a;
          border: none;
          background: #eaeaea;
          padding: 1rem 1.5rem;
          font-size: 18px;
          cursor: pointer;
          transition: .2s;
          border-right: 1px #cecece solid;
          border-left: 1px #cecece solid;
          font-weight: bold;

          &:hover {
            background: #cecece;
          }

          &:first-child {
            border-top-left-radius: 5rem;
            border-bottom-left-radius: 5rem;
            border-left: 0;
          }

          &:last-child {
            border-top-right-radius: 5rem;
            border-bottom-right-radius: 5rem;
            border-right: 0;
          }

          &.active {
            background: #4a018a;
            color: white
          }
        }
      }

      .add-section {
        background: white;
        border: 2px #eee solid;
        padding: 1rem 1.5rem;
        font-size: 16px;
        border-radius: 1rem;
        transition: .2s;
        margin-left: 2rem;
        font-weight: normal;

        &:focus {
          border-color: #cecece;
        }
      }

      span {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 18px;
      }
    }

    .round-btn {
      @include common.round-btn(#8E00A6);
      position: relative;
      padding: 1rem 1.5rem;
      margin-left: 1rem;

      &.save {
        @include common.round-btn(#4a018a);
        padding: 1rem 1.5rem;
        margin-left: 2rem;
      }

      &.add-var {
        margin: 1rem 0 0;
      }
    }

    .texts {
      margin-top: 2rem;

      .section {
        position: relative;
        border: 3px #cecece solid;
        padding: 1.5rem;
        border-radius: 1.5rem;
        margin-top: 1rem;

        &.hidden {
          padding: 12px 1.5rem;

          *:not(.toggler):not(.section-name):not(.section-menu) {
            display: none;
          }
        }

        .section-name {
          font-size: 26px;
          color: #4a018a;
          margin-top: 2rem;
          font-weight: bold;
        }

        .toggler {
          position: absolute;
          font-size: 26px;
          line-height: 30px;
          font-weight: bold;
          color: #fafafa;
          background: #cecece;
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 50%;
          right: 10px;
          top: 10px;
          cursor: pointer;
          transition: .2s;

          &:hover {
            background: #4a018a;
            color: white;
          }

          &.minus {
            line-height: 28px;
          }
        }

        .row {
          display: flex;
          align-items: center;
          margin-top: 1rem;

          .variable {
            font-size: 20px;
            font-weight: bold;
            padding: 1rem;
            color: #8E00A6;
            border-radius: 1.5rem;
            -moz-box-sizing: border-box;
            background: transparent;
            border: none;
          }

          .value {
            cursor: text;
            font-size: 1rem;
            border: 2px solid #eee;
            padding: 1rem;
            min-width: 24rem;
            min-height: calc(3rem + 5px);
            color: #555;
            resize: none;
            background: white;
            border-radius: 1rem;
            transition: .2s;

            &:focus {
              border-color: #cecece;
              resize: both;
              border-radius: 1rem 1rem 0 1rem;
              transition: 0s;
            }
          }
        }
      }
    }
  }
}
