@use "src/static/css/common" as common;

.wrapper-commercial-proposal .possibilities {
  display: flex;
  background-color: #eeeeee;

  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 3rem 40px;

    h4 {
      font-size: 42px;
      color: #4a018a;
      text-align: center;
    }

    .desc {
      margin: 0 auto;
      font-size: 24px;
      width: 50%;
      color: black;
      text-align: center;
      line-height: 1.5;
    }

    .group {
      display: flex;
      margin-top: 5rem;
      margin-bottom: 3rem;

      .item {
        display: flex;
        background-color: white;
        width: calc(50% - 3rem);
        margin: 0 1.5rem;
        height: 350px;
        border-radius: 10px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

        .centerer {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: auto;
          width: 60%;

          .cost {
            font-size: 30px;
            color: black;
            text-align: center;
            font-weight: bold;
            margin-bottom: 1.5rem;
          }

          .description {
            text-align: center;
            font-size: 16px;
            color: #333;
            line-height: 1.5;
          }

          .round-btn {
            @include common.round-btn(#4a018a);
            padding: 1rem 1.5rem;
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-commercial-proposal .possibilities .container {
    width: 960px;

    .desc {
      width: 70%;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-commercial-proposal .possibilities .container {
    width: 640px;

    .desc {
      width: 100%;
    }

    .group {
      flex-direction: column;

      .item {
        width: 100%;
        margin: 0;

        &:first-child {
          margin-bottom: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-commercial-proposal .possibilities .container {
    width: 480px;
    padding: 3rem 1rem;

    h4 {
      font-size: 36px;
    }

    .desc {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-commercial-proposal .possibilities .container {
    width: 100%;

    .group .item .centerer {
      width: 80%;
    }
  }
}
