.left-section {
  background: #f2f2f2;
  padding: 2rem;
  border-radius: 10px;
  align-self: flex-start;
  min-width: 17rem;
  max-width: 17rem;

  h4 {
    color: #4a018a;
    font-size: 18px;
    margin: 0 0 2rem;
  }

  .programs-choice {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-bottom: 1rem;

      &:hover .program-type {
        color: #4a018a;
        transition: .15s;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .check-box {
        background: #fafafa;
      }

      &.active .check-box {
        background: #4a018a !important;

        .checkmark-box {
          bottom: 0;
        }
      }

      .program-type {
        color: #555;
        margin-left: .5rem;
        font-size: 16px;
        white-space: nowrap;
      }
    }
  }
}

@media screen and(max-width: 960px) {
  .left-section {
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .left-section {
    padding: 1.5rem;
  }
}