.multiple-selection-list {
  display: flex;
  flex-direction: column;

  .title-box {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    .number {
      color: #cecece;
      font-size: 14px;
      font-weight: bold;
      margin-right: 1rem;
    }

    .title {
      color: #4a018a;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .list-box {
    position: relative;
    margin-top: .5rem;
    min-width: 60%;
    max-width: 60%;
    background: white;
    border: 2px solid #eaeaea;
    border-radius: 1.5rem;
    transition: .2s;

    &.expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: #cecece;

      .toggle-btn:after {
        transform: scale(.8) rotate(180deg);
      }

      .items {
        visibility: visible;
        opacity: 1;
        border-color: #cecece;
      }
    }

    .toggle-btn {
      position: relative;
      height: 3rem;
      width: 100%;
      display: flex;
      background: transparent;
      border: 0;
      line-height: 3rem;
      text-align: left;
      font-size: 16px;
      color: #555;
      padding: 0 1.5rem;
      cursor: pointer;
      overflow: hidden;
      border-radius: 1.5rem;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 3rem;
        height: 100%;
        transform: scale(.8);
        background: url("./media/arrow.png") center center;
        background-size: cover;
        transition: .2s;
      }

      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 6rem;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%);
      }
    }

    .items {
      visibility: hidden;
      position: absolute;
      width: calc(100% + 4px);
      opacity: 0;
      left: -2px;
      max-height: 50vh;
      overflow-y: auto;
      z-index: 10;
      background: white;
      border: 2px solid #eaeaea;
      border-top: none;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      transition: .2s;

      .elem {
        position: relative;
        padding-left: 1.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .2s;

        .check-box {
          background: white;
          margin-right: 1rem;
        }

        &:last-child {
          border-bottom-left-radius: 1.5rem;
        }

        &:hover {
          background: #eeeeee;

          span {
            color: #4a018a;
          }
        }

        span {
          color: #555;
          max-width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .multiple-selection-list .list-box {
    width: 80%;
    max-width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .multiple-selection-list .list-box {
    width: 100%;
    max-width: 100%;
  }
}