.wrapper-cookie {
  @keyframes cookie-appear {
    0% {
      bottom: -10rem;
    }
    100% {
      bottom: 0;
    }
  }
  @keyframes cookie-disappear {
    0% {
      bottom: 0;
    }
    100% {
      bottom: -10rem;
    }
  }

  position: fixed;
  left: 0;
  bottom: -10rem;
  width: 100%;
  padding: 1.5rem;
  z-index: 100;
  animation: cookie-appear 1s forwards;
  animation-delay: 5s;

  &.disappear {
    animation: cookie-disappear 1s forwards;
  }

  .cookie-popup {
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #8E00A6;
    padding-left: 2rem;
    border-radius: 5rem;
    box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, .2);

    span {
      color: #555;
      padding: 1rem 23rem 1rem 0;
    }

    .buttons {
      position: absolute;
      height: 100%;
      right: 0;
      display: flex;
      align-items: center;
      margin-left: auto;
      max-height: 100%;
      padding: 5px;

      button {
        height: 100%;
        width: 10rem;
        border: none;
        padding: 0 2rem;
        cursor: pointer;
        font-size: 16px;
        background: #4a018a;
        color: white;
        transition: .2s;

        &:hover {
          background: #5d01ad;
        }

        &:first-child {
          border-top-left-radius: 5rem;
          border-bottom-left-radius: 5rem;
          margin-right: 2px
        }

        &:last-child {
          border-top-right-radius: 5rem;
          border-bottom-right-radius: 5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1060px) {
  .wrapper-cookie .cookie-popup span {
    font-size: 14px;
  }
}

@media screen and (max-width: 984px) {
  .wrapper-cookie .cookie-popup span {
    padding: .7rem 23rem .7rem 0;
  }
}

@media screen and (max-width: 836px) {
  .wrapper-cookie .cookie-popup {
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;

    span {
      padding: 0;
      margin-bottom: .5rem;
      text-align: center;
    }

    .buttons {
      position: initial;
      margin: 0;
      min-height: 3rem;

      button {
        border-radius: 1.5rem !important;
        margin: .5rem;
      }
    }
  }
}

@media screen and (max-width: 468px) {
  .wrapper-cookie .cookie-popup {
    padding: .5rem;

    .buttons {
      padding: 0;
      min-height: auto;

      button {
        font-size: 14px;
        height: 2rem;
        width: 8rem;
        padding: 0;
        margin-bottom: 0;
        text-align: center;
      }
    }

    span {
      font-size: 12px;
      margin: 0;
    }
  }
}