.multiple-list-search {
  display: flex;
  flex-direction: column;

  .title-box {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    .number {
      color: #cecece;
      font-size: 14px;
      font-weight: bold;
      margin-right: 1rem;
    }

    .title {
      color: #4a018a;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .selected {
    line-height: 1.3;
    color: #555;
    padding: .5rem 0 .5rem 0;
  }

  .list-box {
    position: relative;
    width: 60%;
    background: white;
    margin-top: .5rem;
    border: 2px solid #eaeaea;
    border-radius: 1.5rem;
    transition: .2s;

    img {
      visibility: hidden;
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 16px;
      right: 1rem;
      opacity: 0;
      transition: .2s;

      &:hover {
        opacity: 1 !important;
      }
    }

    &.expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: #cecece;

      img {
        visibility: visible;
        opacity: .5;
      }

      .items {
        visibility: visible;
        opacity: 1;
        border-color: #cecece;
      }
    }

    .list-input {
      height: 3rem;
      width: 100%;
      display: flex;

      input {
        background: transparent;
        height: 3rem;
        width: 100%;
        font-size: 16px;
        line-height: 3rem;
        padding-left: 1rem;
        color: #555555;

        &::placeholder {
          color: rgba(0, 0, 0, .6);
        }

        &:focus {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .items {
      visibility: hidden;
      position: absolute;
      width: calc(100% + 4px);
      opacity: 0;
      left: -2px;
      max-height: 50vh;
      overflow-y: auto;
      z-index: 10;
      background: white;
      border: 2px solid #eaeaea;
      border-top: none;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      transition: .2s;

      .elem {
        position: relative;
        padding-left: 1.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .2s;

        .check-box {
          background: white;
          margin-right: 1rem;
        }

        &:last-child {
          border-bottom-left-radius: 1.5rem;
        }

        &:hover {
          background: #eeeeee;

          span {
            color: #4a018a;
          }
        }

        span {
          color: #555;
          max-width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .multiple-list-search .list-box {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .multiple-list-search .list-box {
    width: 100%;
  }
}