@use "src/static/css/common" as common;

.wrapper-program-new .requirements .container {
  width: 1280px;
  margin: 0 auto;
  padding: 3rem 40px 0;

  h3 {
    margin-bottom: 4rem;
  }

  .requirement {
    margin-bottom: 4rem;

    .heading {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      img {
        height: 40px;
        margin-right: 1rem;
      }

      span {
        line-height: 24px;
        color: #4a018a;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .desc {
      font-size: 18px;
      line-height: 1.5;
      color: #555;
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-program-new .requirements .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program-new .requirements .container {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program-new .requirements .container {
    width: 480px;
    padding: 3rem 1rem;

    .requirement .heading {
      margin-bottom: .5rem;

      img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program-new .requirements .container {
    width: 100%;
  }
}
