.number-input {
  display: flex;
  align-items: center;

  .title-box {
    display: flex;
    align-items: center;

    .number {
      color: #cecece;
      font-size: 14px;
      font-weight: bold;
      margin-right: 1rem;
    }

    .title {
      color: #4a018a;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .answer {
    background: white;
    border-radius: 1.5rem;
    width: 6rem;
    margin-left: 1rem;
    padding: 0 1rem;
    height: 3rem;
    font-size: 18px;
    line-height: 3rem;
    color: #555;
    border: 2px solid #eaeaea;
    transition: .2s;
    -moz-appearance: textfield !important;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      transition: 0s;
      border-color: #cecece;
    }
  }
}
