.wrapper-homepage .stories {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 3rem 40px;

    .frame {
      padding: 0 3rem;
      position: relative;

      .slick-prev {
        height: 24px;
        width: 24px;
        left: -3rem;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          height: 100%;
          width: 100%;
          transform: rotate(90deg);
          background-image: url("./media/arrow.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      .slick-next {
        height: 24px;
        width: 24px;
        right: -3rem;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          height: 100%;
          width: 100%;
          transform: rotate(-90deg);
          background-image: url("./media/arrow.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      .slick-dots {
        bottom: -2rem;

        li button:before {
          color: #4a018a;
        }
      }

      .video-box {
        padding: 0 3rem;
        height: 387px;

        .video {
          border-radius: 10px;
          overflow: hidden;
          background-color: #eee;
          height: 100%;

          .youtube {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .stories .container {
    width: 640px;

    .frame .video-box {
      height: 243px;
      padding: 0 1rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .stories .container {
    width: 480px;
    padding: 3rem 1rem;

    .frame .video-box {
      padding: 0 6px;
      height: 181px;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .stories .container {
    width: 100%;

    .frame {
      padding: 0 1.5rem;

      .slick-prev {
        left: -2rem
      }

      .slick-next {
        right: -2rem
      }

      .video-box {
        height: 41vw;
      }
    }
  }
}
