@mixin round-btn-module($color) {
  position: relative;
  display: inline-flex;
  background-color: transparent;
  color: $color;
  font-weight: bold;
  padding: 1.5rem 3rem;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid $color;
  border-radius: 5rem;
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
  transition: .2s;

  span {
    position: relative;
    display: block;
    text-align: center;
    color: $color;
    z-index: 1;
    transition: .2s;
  }

  &:before {
    position: absolute;
    content: "";
    height: calc(100% + 6px);
    width: calc(100% + 4px);
    bottom: calc(-100% - 6px);
    left: -2px;
    background-color: $color;
    z-index: 0;
    transition: .2s;
  }

  &:hover {
    text-decoration: none !important;
    background-color: $color;
    transition-delay: .15s;

    span {
      color: white;
    }

    &:before {
      bottom: -2px;
    }
  }

  &:global(.disabled) {
    pointer-events: none;
    cursor: crosshair;
    background-color: $color;
    opacity: .8;

    span {
      color: #aaa !important;
    }

    &:before {
      bottom: -3px;
    }
  }

  img {
    margin: auto;
    height: 18px;
  }

  &:global(.filled) {
    background-color: $color;

    span {
      color: white;
    }

    &:before {
      display: none;
    }
  }

  &:global(.thin) {
    font-weight: normal;
    border-width: 2px;
  }

  @media screen and (max-width: 1024px) {
    background-color: $color;

    span {
      color: white;
    }

    &:before {
      display: none;
    }
  }
}

@mixin round-btn($color) {
  position: relative;
  display: inline-flex;
  background-color: transparent;
  color: $color;
  font-weight: bold;
  padding: 1.5rem 3rem;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid $color;
  border-radius: 5rem;
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
  transition: .2s;

  span {
    position: relative;
    display: block;
    text-align: center;
    color: $color;
    z-index: 1;
    transition: .2s;
  }

  &:before {
    position: absolute;
    content: "";
    height: calc(100% + 6px);
    width: calc(100% + 4px);
    bottom: calc(-100% - 6px);
    left: -2px;
    background-color: $color;
    z-index: 0;
    transition: .2s;
  }

  &:hover {
    text-decoration: none !important;
    background-color: $color;
    transition-delay: .15s;

    span {
      color: white;
    }

    &:before {
      bottom: -2px;
    }
  }

  &.disabled {
    pointer-events: none;
    cursor: crosshair;
    background-color: $color;
    opacity: .8;

    span {
      color: #aaa !important;
    }

    &:before {
      bottom: -3px;
    }
  }

  img {
    margin: auto;
    height: 18px;
  }

  &.filled {
    background-color: $color;

    span {
      color: white;
    }

    &:before {
      display: none;
    }
  }

  &.thin {
    font-weight: normal;
    border-width: 2px;
  }

  @media screen and (max-width: 1024px) {
    background-color: $color;

    span {
      color: white;
    }

    &:before {
      display: none;
    }
  }
}