.wrapper-homepage .component-name {
  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 3rem 40px;


  }
}

@media screen and (max-width: 1280px) {
  .wrapper-homepage .component-name .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .component-name .container {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .component-name .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .component-name .container {
    width: 100%;
  }
}
