@font-face {
  font-family: 'Graphik';
  src: url(../fonts/GraphikLCG-Regular.woff2) format("woff2");
  font-weight: normal
}

@font-face {
  font-family: 'Graphik';
  src: url(../fonts/GraphikLCG-Bold.woff2) format("woff2");
  font-weight: bold
}

@keyframes appear {
  0% {
    opacity: 0;
    background-image: linear-gradient(to right, #fffbff 0%, #f7e8ff 0%, white 0%);
  }
  @for $i from 1 through 89 {
    #{$i}% {
      @if ($i == 10) {
        opacity: 1;
      }
      background-image: linear-gradient(to right, #fffbff 0%, #f7e8ff 1.11% * $i, white 1.11% * $i + 5%, white 100%);
    }
  }
  90% {
    opacity: 1;
    background-image: linear-gradient(to right, #fffbff 0%, #f7e8ff 100%, white 100%);
  }
  100% {
    opacity: 0;
    background-image: linear-gradient(to right, #fffbff 0%, #f7e8ff 100%, white 100%);
  }
}

* {
  font-family: Graphik, serif;
  box-sizing: border-box;
  outline: 0;

  &::-moz-focus-inner, &::-moz-focus-outer {
    border: 0;
  }
}

body {
  position: relative;
  min-height: 100vh;
  cursor: default;
  margin: 0;
  background: #fafafa;

  #root {
    height: 86vh;
    padding-top: 14vh;
  }
}

input[type='text'], textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

h3 {
  color: #4a018a;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin: 0 0 2rem 0;
  text-transform: uppercase;
}

.circle-btn {
  cursor: pointer;
  font-size: 18px;
  line-height: 2rem;
  background-color: white;
  display: inline-block !important;
  padding: 0 1.5rem;
  margin: 0 1rem;
  border-radius: 20px;
  border: none;
  color: #4a018a !important;
  box-shadow: 0 0 .5rem .3rem rgba(0, 0, 0, .2);
  transition: .2s;

  &:hover {
    text-decoration: none !important;
    margin-bottom: .4rem;
    box-shadow: .1rem .3rem .4rem .3rem rgba(0, 0, 0, .3);
  }

  &:active {
    text-decoration: none !important;
    margin-bottom: 0;
    box-shadow: 0 0 .4rem .3rem rgba(0, 0, 0, .3);
    transition: .1s;
  }
}

.agreement {
  text-align: center;
  color: #999;
  font-size: 13px;
  line-height: 15px;
  margin: 1rem;
}

@media screen and (max-width: 1024px) {
  textarea:focus {
    border-bottom-right-radius: 1.5rem !important;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: 26px;
  }
}