.input-question {
  display: flex;
  flex-direction: column;

  .title-box {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    .number {
      color: #cecece;
      font-size: 14px;
      font-weight: bold;
      margin-right: 1rem;
    }

    .title {
      color: #4a018a;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .answer {
    background: transparent;
    width: 100%;
    padding: .5rem;
    font-size: 18px;
    border: 0;
    color: #555;
    border-bottom: 2px solid #eaeaea;
    -webkit-border-radius: 0;
    transition: .2s;

    &:focus {
      transition: 0s;
      border-color: #cecece;
    }
  }
}
