.wrapper-homepage .what-problems-solve {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 3rem 40px;

    .column {
      display: flex;
      flex-direction: column;
      width: 640px;
      margin: 0 auto;
      padding-top: 1rem;

      .row {
        display: flex;
        flex-direction: column;

        .bubble {
          position: relative;
          display: flex;
          flex-direction: column;
          border-radius: 2rem;
          width: calc(50% - 20px);
          padding: 1.5rem;

          &:after {
            content: "";
            position: absolute;
            height: 24px;
            width: 24px;
            transform: rotate(45deg);
            top: calc(50% - 12px);
            z-index: -1;
          }

          .heading {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            .name {
              font-weight: bold;
              margin-left: .5rem;
            }

            .pic {
              width: 24px;
              height: 24px;
              background-position: center center;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }

          .desc {
            font-size: 14px;
            line-height: 18px;
          }

          &.right {
            margin-left: auto;
            background: #8E00A6;

            &:after {
              left: -12px;
              background-color: #8E00A6;
            }

            .heading {
              .pic {
                background-image: url("./media/user.svg");
              }

              .name {
                color: white;
              }
            }

            .desc {
              color: white;
            }
          }

          &.left {
            background: #eaeaea;
            margin-top: -2rem;

            &:after {
              right: -12px;
              background-color: #eaeaea;
            }

            .heading {
              .pic {
                background-image: url("./media/hm-support.svg");
                background-color: #8E00A6;
                border-radius: 50%;
                border: 2px solid #8E00A6;
                border-top: 3px solid #8E00A6;
              }

              .name {
                color: #8E00A6;
              }
            }

            .desc {
              color: #555;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .what-problems-solve .container {
    width: 640px;

    .column {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .what-problems-solve .container {
    width: 480px;
    padding: 3rem 1rem;

    .column .row .bubble {
      width: calc(50% - 10px);

      .desc {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .what-problems-solve .container {
    width: 100%;

    .column .row {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      .bubble {
        width: 75%;

        &.left {
          margin-top: 1.5rem;
        }

        .desc {
          font-size: 15px;
        }
      }
    }
  }
}
