@use "src/static/css/common" as common;

.wrapper-payment {
  height: 86vh;
  display: flex;

  .container {
    width: 1280px;
    height: calc(100% - 3rem);
    min-height: 530px;
    margin: 1.5rem auto;
    box-shadow: 0 0 1rem #999;
    padding: 3rem 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
    border-radius: 1.5rem;

    h3 {
      color: white;
      font-size: 50px;
      line-height: 1.2;
      text-transform: none;
    }

    .row {
      display: flex;
      align-items: center;
      height: 70%;

      h3 {
        margin-right: 2rem;
      }

      img {
        margin-left: auto;
        height: 100%;
      }
    }

    .divider {
      height: 10px;
      width: 100%;
      border-radius: 5px;
      background-color: #ae00ce
    }

    .buttons {
      margin: auto;
      padding-bottom: 10px;

      .round-btn {
        margin: 0 2rem;
      }
    }

    .react-date-picker {
      .react-date-picker__wrapper {
        border: 2px white solid;
        padding: 4px;
        border-radius: 10px;
      }

      svg {
        stroke: white;
      }

      span {
        color: white;
      }

      input {
        color: white;
        appearance: none;
        -moz-appearance: textfield !important;
      }
    }

    .round-btn {
      @include common.round-btn(white);

      &:hover span {
        color: #4a018a;
      }
    }

    .instruction, .success, .fail {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .desc {
        font-size: 20px;
        color: white;
        margin-bottom: 2rem;
      }

      .select {
        width: 100%;
      }

      .consult-checkbox {
        display: flex;
        align-items: center;
        margin-top: 2rem;

        .check-box {
          border-color: white;
        }

        span {
          margin-left: .5rem;
          color: white;
          font-size: 20px;
        }
      }

      .round-btn {
        margin-top: 2rem;
      }

      input {
        margin-top: 1rem;
        border-radius: 5rem;
        background-color: #eaeaea;
        border: none;
        padding: 1rem;
        width: 100%;
        max-width: 480px;
        color: #555;
        font-size: 18px;
        transition: .2s;

        &:focus {
          transition: 0s;
          background-color: white;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::placeholder {
          color: rgba(74, 1, 138, 0.5);
        }

        &::-moz-placeholder {
          color: #4a018a;
        }
      }
    }

    .consult {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;

      .input {
        margin-top: 1rem;
        border-radius: 5rem;
        background-color: #eaeaea;
        border: none;
        padding: 1rem;
        width: 100%;
        max-width: 480px;
        color: #555;
        font-size: 18px;
        transition: .2s;

        &:focus {
          transition: 0s;
          background-color: white;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::placeholder {
          color: rgba(74, 1, 138, 0.5);
        }

        &::-moz-placeholder {
          color: #4a018a;
        }
      }

      .round-btn {
        margin-top: 2rem;
      }
    }

    .round-btn.disabled span {
      color: #705489 !important;

      .app-loading {
        min-height: 20px;

        .anim-box {
          height: 20px;
          padding: 0;
          margin: 0;
        }
      }
    }

    .app-loading .anim-box {
      padding-bottom: 10rem;
    }
  }

}

@media screen and (max-width: 1280px) {
  .wrapper-payment .container {
    width: 960px;

    h3 {
      font-size: 34px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper-payment .container .round-btn span {
    color: #4a018a !important;
  }
}


@media screen and (max-width: 960px) {
  .wrapper-payment .container {
    width: 640px;
    min-height: 400px;

    .row {

      h3 {
        margin-right: 0;
      }

      img {
        display: none;
      }
    }

    .round-btn {
      padding: 1rem 1.5rem;
    }

    .buttons .round-btn {
      margin: 0;

      &:first-child {
        margin-right: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-payment .container {
    width: 480px;
    padding: 3rem 1rem;

    h3 {
      text-align: center;
    }

    .desc {
      text-align: center;
    }

    .round-btn {
      height: 3rem;
      padding: 0 1.5rem;
      font-size: 16px;
      line-height: 16px;

      span {
        margin: auto;
      }
    }

    .buttons {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .round-btn {
        margin-bottom: 1rem !important;
        margin-right: 0 !important;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-payment .container {
    width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;

    h3 {
      font-size: 30px;
    }

    .consult-checkbox span {
      font-size: 14px !important;
    }
  }
}
