@use "src/static/css/common" as common;

.wrapper-homepage .what-we-do {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 3rem 40px;

    .group {
      display: flex;

      .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding-bottom: 2rem;
        background-color: #eaeaea;
        border-radius: 10px;
        overflow: hidden;

        &.left {
          margin-right: 1rem;

          .heading {
            background-color: #8E00A6;
          }

          .round-btn {
            @include common.round-btn(#8E00A6);
            margin-top: auto;
            padding: 12px 1.5rem;
            font-size: 15px;
            font-weight: normal;
          }
        }

        &.right {
          margin-left: 1rem;

          .heading {
            background-color: #4a018a;
          }

          .round-btn {
            @include common.round-btn(#4a018a);
            margin-top: auto;
            padding: 12px 1.5rem;
            font-size: 15px;
            font-weight: normal;
          }
        }

        .pic {
          height: 16rem;
          width: 100%;
          background-position: center 42%;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .heading {
          padding: 2rem 3rem;
          width: 100%;
          font-size: 26px;
          line-height: 30px;
          color: white;
          font-weight: bold;
        }

        .desc {
          height: 15rem;
          padding: 2rem 3rem 0;
          font-size: 16px;
          line-height: 20px;
          color: #555;
        }

        h4 {
          padding: 0 3rem;
          margin: 0;
          color: #4a018a;
        }

        .info-list {
          display: flex;
          flex-direction: column;
          padding: 2rem 3rem;

          .item {
            display: flex;
            font-size: 16px;
            color: #555;
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }

            .number {
              font-weight: bold;
              min-width: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .what-we-do .container {
    width: 640px;

    .group {
      flex-direction: column;

      .block {
        margin: 0 !important;
        width: 100%;

        &.right {
          margin-top: 2rem !important;
        }

        .desc {
          height: auto;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .what-we-do .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .what-we-do .container {
    width: 100%;
  }
}
