@use "src/static/css/common" as common;

.wrapper-program-new .consult {
  display: flex;
  min-height: 60vh;
  padding: 3rem 0;
  position: relative;
  background-image: url("media/background.png");
  background-size: cover;
  background-position: center center;

  .purpler {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(74, 1, 138, .8);
    z-index: 2;
    box-shadow: inset 0 1rem 8px -10px rgba(0, 0, 0, .2), inset 0 -1rem 8px -10px rgba(0, 0, 0, .2);
  }

  .container {
    position: relative;
    width: 1280px;
    padding: 5rem 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    h3 {
      font-size: 36px;
      color: white;
      text-align: center;
      line-height: 1.35;
      padding: 0 10%;
      margin: 0 0 4rem;
      text-shadow: 3px 3px .3rem rgba(0, 0, 0, .3);
    }

    .round-btn {
      @include common.round-btn(#8E00A6);
      background-color: rgba(0, 0, 0, .2);
      box-shadow: 0 0 .6rem 0 rgba(0, 0, 0, .2);

      &:first-child {
        margin-right: 1rem;
      }

      span {
        color: white;
      }
    ;
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-program-new .consult .container {
    width: 960px;

    h3 {
      padding: 0;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program-new .consult .container {
    width: 640px;

    h3 {
      line-height: 1.1;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      .round-btn:first-child {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program-new .consult .container {
    width: 480px;
    padding: 3rem 1rem;

    h3 {
      font-size: 26px;
    }

    .buttons .round-btn {
      padding: 1rem 1.5rem;

      span {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program-new .consult .container {
    width: 100%;

    .buttons .round-btn {
      height: 4rem;
      padding: 0 1.5rem;

      span {
        margin: auto;
        line-height: 16px;
      }
    }
  }
}