.wrapper-homepage .for-whom {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 3rem 40px;

    .row {
      display: flex;

      .block {
        position: relative;
        width: 25%;
        height: 16rem;
        background-color: rgba(74, 1, 138, 0);
        overflow: hidden;
        margin-right: 1rem;
        border-radius: 10px;
        transition: .2s;
        box-shadow: 0 0 8px rgba(0, 0, 0, .2);

        &:last-child {
          margin: 0;
        }

        * {
          transition: .2s;
        }

        .img {
          position: absolute;
          background-size: cover;
          background-position: center center;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }

        .desc {
          position: absolute;
          bottom: -8rem;
          color: white;
          left: 0;
          width: 100%;
          padding: 1rem;
          font-size: 16px;
          line-height: 20px;
        }

        &:hover {
          background-color: rgba(74, 1, 138, .6);
          box-shadow: 0 0 5px rgba(74, 1, 138, .6);

          .img {
            filter: blur(2px);
          }

          .desc {
            bottom: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper-homepage .for-whom .container .row .block {
    background-color: rgba(74, 1, 138, .6);
    box-shadow: 0 0 5px rgba(74, 1, 138, .6);

    .img {
      filter: blur(2px);
    }

    .desc {
      bottom: 1rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-homepage .for-whom .container {
    width: 640px;

    .row {
      flex-wrap: wrap;

      .block {
        width: calc(50% - 1rem);
        margin: 0;

        &:nth-child(even) {
          margin-left: 2rem;
        }

        &:nth-child(-n+2) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-homepage .for-whom .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-homepage .for-whom .container {
    width: 100%;

    .row {
      flex-wrap: nowrap;
      flex-direction: column;

      .block {
        width: 100%;
        height: 12rem;
        margin: 0 0 1rem 0 !important;
      }
    }
  }
}
