@use "src/static/css/common" as common;

.wrapper-commercial-proposal .stages {
  display: flex;

  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 3rem 40px;

    h4 {
      font-size: 42px;
      color: #4a018a;
      text-align: center;
    }

    .desc {
      margin: 0 auto;
      font-size: 18px;
      width: 55%;
      color: black;
      text-align: center;
      line-height: 1.5;
    }

    .list {
      display: flex;
      margin: 3rem auto;
      width: 880px;
      flex-direction: column;

      .item {
        display: flex;
        align-items: center;
        padding: 1rem 0;

        .info {
          .time {
            color: #999;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 1rem;
          }

          .name {
            color: black;
            font-size: 28px;
            font-weight: bold;
          }
        }

        .cost {
          padding-left: 2rem;
          color: #4a018a;
          font-size: 22px;
          font-weight: bold;
          margin-left: auto;
        }
      }

      .divider {
        margin: 1rem 0;
        height: 3px;
        border-radius: 2px;
        background-color: #eee;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-commercial-proposal .stages .container {
    width: 960px;

    .desc {
      width: 70%;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-commercial-proposal .stages .container {
    width: 640px;

    .desc {
      width: 100%;
    }

    .list {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-commercial-proposal .stages .container {
    width: 480px;
    padding: 3rem 1rem;

    h4 {
      font-size: 36px;
    }

    .desc {
      font-size: 20px;
    }

    .list .item .info {
      .name {
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-commercial-proposal .stages .container {
    width: 100%;

    .desc {
      font-size: 16px;
    }
  }
}
