@use "src/static/css/common" as common;

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, .3);
  z-index: 10002;
  animation: appear .3s forwards;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
  opacity: .8;
  z-index: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  width: 480px;
  margin: auto;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(black, .4);
  z-index: 2;

  div {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
  }

  button {
    @include common.round-btn-module(#4a018a);
    padding: 1rem 1.5rem;
    margin-top: 2rem;
  }
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  font-size: 20px;
  font-weight: bold;
  line-height: 1rem;
  color: #999999;
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: #4a018a;
  }
}