@use "src/static/css/common" as common;

.wrapper-program-new .start-screen {
  display: flex;
  min-height: calc(86vh + 4rem);
  margin-top: -4rem;
  padding-top: 4rem;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 -1rem 0.8rem -.7rem rgba(0, 0, 0, .3);

  .purpler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 1, 138, .75);
    z-index: 1;
  }

  .container {
    position: relative;
    width: 1280px;
    padding: 0 40px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;

    .left {
      margin: auto 0;
      width: 50%;
      padding-right: 4rem;

      h4 {
        font-size: 60px;
        line-height: 1.1;
        color: white;
        margin-top: 0;
        margin-bottom: 2rem;
        text-shadow: 3px 3px .8rem rgba(0, 0, 0, .5);
      }

      .desc {
        font-size: 22px;
        line-height: 1.5;
        color: white;
        text-shadow: 3px 3px .8rem rgba(0, 0, 0, .5);
      }

    }

    .right {
      padding-left: 4rem;
      width: 50%;
      display: flex;
      align-items: center;

      .v-aligner {
        width: 100%;
        display: flex;
        flex-direction: column;

        .row {
          display: flex;
          align-items: center;
          padding: 2rem 0;

          img {
            max-width: 65px;
            margin-right: 2rem;
            border-radius: 50%;
            box-shadow: 0 0 .7rem rgba(0, 0, 0, .2);
          }

          .info {
            display: flex;
            flex-direction: column;
            text-shadow: 3px 3px .8rem rgba(0, 0, 0, .5);

            .title {
              color: white;
              font-weight: bold;
              font-size: 20px;
              white-space: nowrap;
              padding-bottom: .5rem;
            }

            .value {
              color: white;
              font-size: 20px;
            }

            .stars {
              font-size: 20px;
              color: white;
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      width: 100%;
      margin-top: 2rem;

      .round-btn {
        @include common.round-btn(#8E00A6);
        background-color: rgba(0, 0, 0, .2);
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);

        &:first-child {
          margin-right: 1rem;
          margin-left: auto;
        }

        &:last-child {
          margin-right: auto;
        }

        span {
          color: white;
          font-size: 16px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-program-new .start-screen .container {
    width: 960px;
    transform: scale(.9);

    .left h4 {
      font-size: 50px;
    }

    .right .v-aligner .row {
      padding: 1rem 0;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program-new .start-screen .container {
    width: 640px;
    flex-direction: column;
    transform: none;

    .left {
      width: 100%;
      padding: 0;

      h4 {
        font-size: 40px;
        margin-bottom: 1rem;
      }

      .desc {
        font-size: 20px;
      }
    }

    .right {
      width: 100%;
      padding: 0;
      margin-top: 2rem;

      .v-aligner .row {
        padding: 0;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .buttons .round-btn {
      padding: 1rem 1.5rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program-new .start-screen .container {
    width: 480px;
    padding: 3rem 1rem;

    .left {
      h4 {
        font-size: 36px;
      }

      .desc {
        font-size: 14px;
      }

      .buttons {
        flex-direction: column;
        align-items: flex-start;

        .round-btn:first-child {
          margin-bottom: 1rem;
        }
      }
    }

    .right .v-aligner .row {
      img {
        max-width: 45px;
        margin-right: 1rem;
      }

      .info {
        .title, .value, .stars {
          font-size: 18px;
        }
      }
    }

    .buttons {
      flex-direction: column;
      align-items: flex-start;

      .round-btn {
        margin: 0 !important;

        &:first-child {
          margin-bottom: 1rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program-new .start-screen .container {
    width: 100%;

  }
}