.wrapper-partners .benefits {
  display: flex;

  .container {
    width: 1280px;
    padding: 5rem 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h3 {
      text-transform: none;
      text-align: center;
      font-size: 42px;
      margin-bottom: 4rem;
    }

    .info {
      font-size: 24px;
      line-height: 1.5;
      width: 50%;
      text-align: center;
      margin: 0 auto;
    }

    .list {
      width: 60%;
      margin: 4rem auto 0;
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        font-size: 20px;
        font-weight: bold;

        &:last-child {
          margin-bottom: 0;
        }

        img {
          min-width: 60px;
          max-width: 60px;
          margin-right: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-partners .benefits .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-partners .benefits .container {
    width: 640px;

    .info {
      width: 80%;
    }

    .list {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-partners .benefits .container {
    width: 480px;
    padding: 3rem 1rem;

    h3 {
      font-size: 30px;
      margin-bottom: 1rem;
    }

    .info {
      font-size: 18px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-partners .benefits .container {
    width: 100%;
  }
}