.wrapper-commercial-proposal .top-section {
  display: flex;
  background-image: url("./media/nature.jpg");
  background-size: cover;
  background-position: center 40%;
  background-attachment: fixed;
  position: relative;
  min-height: 84vh;
  margin-top: -14vh;
  padding-top: 14vh;
  box-shadow: inset 0 0 .5rem .5rem rgba(0, 0, 0, .4);

  .purpler {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(135deg, #4a018a 30%, #35008a);
    opacity: .6;
    z-index: 1;
  }

  .container {
    position: relative;
    width: 1200px;
    margin: auto;
    padding: 3rem 40px;
    z-index: 2;

    h4 {
      text-transform: uppercase;
      color: white;
      font-size: 52px;
      text-align: center;
      text-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    }

    .name {
      color: white;
      font-size: 26px;
      text-align: center;
      text-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-commercial-proposal .top-section .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-commercial-proposal .top-section .container {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper-commercial-proposal .top-section .container {
    width: 480px;
    padding: 3rem 1rem;

    h4 {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-commercial-proposal .top-section .container {
    width: 100%;
  }
}
