.check-box {
  position: relative;
  display: inline-flex;
  border: 2px solid #4a018a;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
  height: 30px;
  width: 30px;
  min-width: 30px;
  transition: .2s;
  overflow: hidden;

  &.checked {
    background: #4a018a !important;

    .checkmark-box {
      bottom: 0;
    }
  }

  input {
    display: none;
  }

  .checkmark-box {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    transition: .3s;

    svg {
      width: 90%;
      height: 90%;
      margin: auto;
    }
  }
}