@use "src/static/css/common" as common;

.subscribe {
  h5 {
    color: white;
    font-size: 16px;
    margin: 0 !important;
  }

  input {
    margin-top: 1rem !important;
    padding: .2rem;
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 2px #999 solid;
    -webkit-border-radius: 0;
    color: white;
    font-size: 18px;
    line-height: 20px;
    transition: .2s;

    &:focus {
      border-color: white;
      transition: 0s;
    }

    &::placeholder {
      color: rgba(255, 255, 255, .5);
    }

    &::-moz-placeholder {
      color: white;
    }
  }

  .subscribed {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem !important;
    border-radius: 10px;
    box-shadow: 0 0 .5rem .5rem rgba(0, 0, 0, .2);
    padding: 1rem;
    color: #4a018a;
    background: white;
    animation: appear 5s forwards;
  }

  .round-btn {
    @include common.round-btn(#8E00A6);
    padding: 1rem 2rem;
    font-size: 20px;
    margin-top: 1rem !important;
    font-weight: normal;

    span {
      margin: 0 !important;
    }

    .app-loading {
      min-height: initial;
      width: 5rem;
      margin: 0 !important;

      .anim-box {
        margin: 0;
        height: 20px;

        .circle {
          margin: .5rem;
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}