.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  padding: 4rem;
}

.background {
  display: flex;
  flex: 1;
  margin: auto;
  width: 80%;
  background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
  padding: 8px;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #666;
}

.panel {
  padding-bottom: 3rem;

  h3 {
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 0 3rem;
    color: white;
  }
}

.progress {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 1rem;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  background-color: #fafafa;
}

.tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  height: 3rem;
  padding: 0 4rem 0 2rem;
  white-space: nowrap;
  background-color: #4a018a;

  &:first-child {
    cursor: default;
    pointer-events: none;
  }

  &:not(.active):not(:first-child) {
    transition: padding-left .2s;

    &:hover {
      padding-left: 3rem;
    }
  }

  &.disabled {
    pointer-events: none;
    color: #c9c9c9;
  }

  &.active {
    background-color: #fafafa;
    color: #4a018a;
    padding-left: 3rem;
    font-weight: bold;
  }
}

.view {
  background-color: #fafafa;
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 0 26px 26px 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.step {
  display: flex;
  align-items: center;
  height: 2.5rem;
  color: #999;
  font-weight: bold;
  font-size: 18px;

  .number {
    margin-right: 1rem;
  }

  svg {
    stroke: #999999;
    width: 1.5rem;
    height: 1.5rem;
  }

  &.completed {
    .number {
      color: #4a018a;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      stroke: #8E00A6;
    }
  }
}

.beginStage {
  margin-left: 1rem;
  text-decoration: none;
  color: #4a018a;
  font-weight: normal;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1280px) {
  .background {
    width: 90%;
  }
}