.popup-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 20000;

  .card {
    animation: appear 5s forwards;
    background: white;
    position: relative;
    width: 640px;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, .2);
    overflow: hidden;

    h4 {
      font-size: 36px;
      line-height: 40px;
      color: #4a018a;
      text-align: center;
      margin-top: 0;
    }

    .secondary {
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      color: #999;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 960px) {
  .popup-box .card h4 {
    font-size: 26px;
    line-height: 30px;
  }
}