@use "src/static/css/common" as common;

.wrapper-program-new .programs-group .container {
  width: 1280px;
  margin: 0 auto;
  padding: 5rem 40px 0;

  .programs {
    display: contents;
  }

  h3 {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active img {
      transform: rotate(180deg);
    }

    img {
      margin-left: 10px;
      height: 1rem;
      transition: .2s;
    }
  }

  a {
    @include common.round-btn(#4a018a);
    padding: 1rem 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-program-new .programs-group .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program-new .programs-group .container {
    width: 640px;

    a {
      height: 4rem;
      padding: 0 1.5rem;

      span {
        margin: auto;
        line-height: 18px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program-new .programs-group .container {
    width: 480px;
    padding: 3rem 1rem 0;

    h3 {
      font-size: 24px;

      img {
        height: .8rem;
      }
    }

    .programs {
      display: inherit;
    }

    a span {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program-new .programs-group .container {
    width: 100%;
  }
}
