@use 'src/static/css/common' as common;

.wrapper {
  min-height: 86vh;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 3rem;
  background-image: linear-gradient(135deg, #4a018a 40%, #36018a);
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(black, .4);

  h3 {
    display: flex;
    align-items: center;
    color: white;
  }
}

.input {
  background: white;
  border: 2px solid #eaeaea;
  padding: 1rem 1.5rem;
  font-size: 16px;
  border-radius: 1.5rem;
  height: 3rem;
  color: #4a018a;
  width: 100%;
  transition: .2s;

  &:focus {
    border-color: #cecece;
    transition: 0s;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::placeholder {
    color: #4a018a;
    opacity: .5;
  }
}

.stepsEditor {
  margin-top: 3rem;
}

.stepSelector {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.step {
  @include common.round-btn-module(white);
  margin: .5rem;
  padding: 1rem 1.5rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active, &:hover {
    background-color: white;
    transition-delay: .15s;

    span {
      color: #4a018a;
    }

    &:before {
      bottom: -2px;
    }
  }
}

.stepValues {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.valueName {
  color: white;
  font-size: 20px;
  font-weight: bold;
  min-width: 5rem;
}

.valueContent {
  width: 100%;

  .input {
    border: none !important;
    box-shadow: inset 0 0 8px rgba(black, .3);
  }
}

.textEditor {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px !important;
  box-shadow: inset 0 0 8px rgba(black, .3);
}

.linkRow {
  border-radius: 3rem;
  padding: 10px 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(black, .2);
}

.linkProp {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: 2rem;
  }
}

.inlineButton {
  @include common.round-btn-module(white);
  padding: 10px 1.5rem;
  margin-left: 1rem;

  &:hover {
    span {
      color: #4a018a;
    }
  }
}

.addLink {
  @include common.round-btn-module(white);
  padding: 1rem 1.5rem;
  margin-top: 1rem;

  &:hover {
    span {
      color: #4a018a;
    }
  }
}