@use "src/static/css/common" as common;

.wrapper-program-new .contents .container {
  width: 1280px;
  margin: 0 auto;
  padding: 5rem 40px 0;

  h3 {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;

    img {
      margin-left: 10px;
      height: 8px;
      transition: .2s;
    }

    &.active {
      & ~ .blocks {
        visibility: visible;
        position: relative;
      }

      img {
        transform: rotate(180deg);
      }
    }
  }


  .blocks {
    position: absolute;
    margin-top: 3rem;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start;
    transform: scale(.8);
    transform-origin: top left;

    .block {
      position: relative;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      padding: 1rem 1.5rem;
      background: white;
      border-radius: 15px;
      margin-bottom: 1.5rem;
      transition: margin-left .3s;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);

      &:hover {
        margin-left: 2rem;

        .arrow-icon {
          left: -2.5rem;
        }
      }

      .heading {
        display: inline-block;
        color: #4a018a;
        font-size: 20px;
        margin: 0;
      }

      .arrow-icon {
        position: absolute;
        top: 0;
        left: .5rem;
        height: 100%;
        display: flex;
        z-index: -1;
        transition: left .3s;

        img {
          transform: scale(.5) rotate(-90deg);
          height: 30px;
          margin: auto 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-program-new .contents .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program-new .contents .container {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program-new .contents .container {
    width: 480px;
    padding: 3rem 1rem 0;

    .blocks .block .heading {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program-new .contents .container {
    width: 100%;
  }
}
