@use "src/static/css/common" as common;

.wrapper-program-new .steps .container {
  width: 1280px;
  margin: 0 auto;
  padding: 3rem 40px;

  h3 {
    margin-bottom: 0;
  }

  .steps-count {
    text-transform: uppercase;
    color: #8E00A6;
    font-size: 30px;
    margin-bottom: 4rem;
    line-height: 1.3;
  }

  .step {
    width: 880px;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    background-color: #eee;
    border-radius: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    .heading {
      font-size: 20px;
      font-weight: bold;
      display: flex;

      .number {
        color: #999;
        margin-right: 1rem;
      }

      .name {
        color: #4a018a;
      }
    }

    .terms {
      color: #8E00A6;
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-top: 1rem;

      span {
        white-space: nowrap;
      }

      img {
        height: 30px;
        margin-right: 1rem;
      }
    }

    .desc {
      margin-top: 2rem;
      color: #555;
      font-size: 18px;
      line-height: 1.5;

      a {
        display: inline-block;
        position: relative;
        font-size: 18px;
        padding: 0 2px;
        color: #8E00A6;
        font-weight: bold;
        text-decoration: none;
        margin: .5rem 0;

        &:after {
          content: "";
          position: absolute;
          height: 3px;
          border-radius: 2px;
          background: #8E00A6;
          width: 0;
          bottom: -2px;
          left: 0;
          transition: .2s;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1280px) {
  .wrapper-program-new .steps .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-program-new .steps .container {
    width: 640px;

    .step {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-program-new .steps .container {
    width: 480px;
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-program-new .steps .container {
    width: 100%;

    .step {
      padding: 2rem;
      border-radius: 10px;
    }
  }
}
