.textarea-question {
  display: flex;
  flex-direction: column;

  .title-box {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    .number {
      color: #cecece;
      font-size: 14px;
      font-weight: bold;
      margin-right: 1rem;
    }

    .title {
      color: #4a018a;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .answer {
    background: white;
    margin-top: .5rem;
    width: 100%;
    min-height: calc(84px + 2rem);
    border: 2px #eaeaea solid;
    border-radius: 1.5rem;
    resize: none;
    padding: 1rem;
    font-size: 16px;
    line-height: 20px;
    color: #555;
    transition: .2s;

    &:focus {
      resize: vertical;
      transition: 0s;
      border-color: #cecece;
      border-bottom-right-radius: 0;
    }
  }
}