.wrapper-faq {
  min-height: 86vh;
  display: flex;

  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 3rem 40px;

    .question {
      position: relative;
      overflow: hidden;
      border: 2px #eaeaea solid;
      padding: 0 2rem;
      border-radius: 2rem;
      min-height: 4rem;
      color: #999;
      background: white;
      cursor: pointer;
      margin-bottom: 2rem;
      transition: .3s;

      .q {
        position: absolute;
        width: 100%;
        padding-right: 8rem;
        line-height: calc(4rem - 4px);
        background: linear-gradient(to bottom, white 0%, white 75%, rgba(255, 255, 255, 0));
        z-index: 2;
      }

      img {
        position: absolute;
        top: calc(1rem - 2px);
        right: 2rem;
        color: #4a018a;
        font-weight: bold;
        height: 2rem;
        transition: .3s;
        z-index: 3;

        &.minus {
          opacity: 0;
        }
      }

      .answer {
        cursor: default;
        margin-top: -14rem;
        padding: 4rem 0 1.5rem;
        font-size: 14px;
        line-height: 22px;
        color: #999;
        transition: .5s;
      }

      &.active {
        color: #8E00A6;
        border-color: #cecece;

        .answer {
          margin-top: 0;
        }

        .plus {
          opacity: 0;
        }

        .minus {
          opacity: 1;
        }
      }
    }

    .app-loading .anim-box {
      padding-bottom: 10rem;
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper-faq .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper-faq .container {
    width: 640px;

    .question {
      .q {
        height: 4rem;
        display: flex;
        align-items: center;
        line-height: 1rem;
        padding-right: 7rem;
      }

      .answer {
        margin-top: -16rem;
        padding-bottom: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-faq .container {
    width: 480px;
    padding: 3rem 1rem;

    .question {

      img {
        right: 1.5rem
      }

      .q {
        font-size: 12px;
        height: 4rem;
        display: flex;
        align-items: center;
        line-height: 1rem;
      }

      .answer {
        font-size: 12px;
        margin-top: -24rem;
        padding-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-faq .container {
    width: 100%;

    .question .answer {
      margin-top: -26rem;
    }
  }
}
