@use "src/static/css/common" as common;

.wrapper-partners .top-section {
  display: flex;
  background-image: url("./media/earth.png");
  background-size: cover;
  background-position: center 40%;
  position: relative;
  min-height: 100vh;
  margin-top: -14vh;
  padding-top: 14vh;
  box-shadow: inset 0 0 .5rem .5rem rgba(0, 0, 0, .4);

  .purpler {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(74, 1, 138, .5);
    z-index: 1;
  }

  .container {
    position: relative;
    width: 1280px;
    margin: auto;
    padding: 0 40px;
    z-index: 2;

    h2 {
      text-align: center;
      color: white;
      text-shadow: 0 0 .5rem black;
      font-size: 58px;
    }

    .desc {
      margin: 0 auto;
      text-align: center;
      font-size: 24px;
      line-height: 1.5;
      text-shadow: 0 0 .5rem black;
      color: white;
      width: 60%;
    }
  }
}


@media screen and (max-width: 1280px) {
  .wrapper-partners .top-section .container {
    width: 960px;

    .desc {
      width: 90%;
    }
  }
}

@media screen and (max-width: 960px) {
  .wrapper-partners .top-section .container {
    width: 640px;

    h2 {
      font-size: 38px;
    }

    .desc {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-partners .top-section .container {
    width: 480px;
    padding: 3rem 1rem;

    h2 {
      font-size: 34px;
    }

    .desc {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper-partners .top-section .container {
    width: 100%;
  }
}
