.list-box {
  position: relative;
  width: 100%;
  background: white;
  border: 2px solid #eaeaea;
  border-radius: 1.5rem;
  transition: .2s;

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #cecece;

    .items {
      visibility: visible;
      opacity: 1;
      border-color: #cecece;
    }
  }

  .list-input {
    height: 3rem;
    width: 100%;
    display: flex;

    input {
      background: transparent !important;
      margin: auto 0 !important;
      border: none !important;

      &:focus {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .items {
    visibility: hidden;
    position: absolute;
    width: calc(100% + 4px);
    opacity: 0;
    left: -2px;
    max-height: 50vh;
    overflow-y: auto;
    z-index: 10;
    background: white;
    border: 2px solid #eaeaea;
    border-top: none;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    transition: .2s;

    .elem {
      position: relative;
      padding-left: 1.5rem;
      height: 3rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: .2s;

      .check-box {
        background: white;
        margin-right: 1rem;
      }

      &:last-child {
        border-bottom-left-radius: 1.5rem;
      }

      &:hover {
        background: #eeeeee;

        span {
          color: #4a018a;
        }
      }

      span {
        color: #555;
        max-width: 80%;
      }
    }
  }
}